<div style="padding:15px 15px 10px 15px;">
    <div><strong>Student Group Activity</strong></div>
</div>
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
<div style="width: 100%;">
    <form [formGroup]="searchForm">
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="searchCategoryId">
                <mat-option *ngFor="let item of Category" [value]="item.MasterDataId">
                    {{item.MasterDataName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button [disabled]="loading" style="margin-right:15px" matTooltip="search" mat-raised-button color="accent"
            (click)="GetAchievementAndPoint()">
            <mat-icon>search</mat-icon>
            <mat-icon *ngIf="loading">
                <mat-spinner diameter="20" color="Blue"></mat-spinner>
            </mat-icon>
        </button>
        <button [disabled]="loading || Permission=='read'" matTooltip="add new" mat-mini-fab (click)="AddNew()">
            <mat-icon>add</mat-icon>
        </button>
    </form>
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="AchievementAndPointId">
            <mat-header-cell *matHeaderCellDef>
                Id
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.AchievementAndPointId}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Rank">
            <mat-header-cell *matHeaderCellDef>Rank
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input matInput [maxlength]="30" (blur)="onBlur(element)" [value]="element.Rank"
                        [(ngModel)]="element.Rank">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Points">
            <mat-header-cell *matHeaderCellDef>Points
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input matInput type="number" max="250" (blur)="onBlur(element)" [value]="element.Points"
                        [(ngModel)]="element.Points">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="CategoryId">
            <mat-header-cell *matHeaderCellDef>Category
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="element.CategoryId" [value]="element.CategoryId">
                        <mat-option *ngFor="let item of Category" [value]="item.MasterDataId">
                            {{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef style="justify-content: center;">Active
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateActive(element,$event)"
                    [checked]="element.Active">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>

            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                <button [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save"
                    mat-raised-button color="accent" (click)="UpdateOrSave(element)">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;let indx=index" class="element-row"
            style="align-items: center;"></mat-row>
    </mat-table>
    <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[3,5,10,20,50]"></mat-paginator>
</div>