mat-form-field{
    margin-right: 15px;
    width:98%;
}
button {
    margin-right: 15px;
}
.mat-column-GroupName{
    flex:1 1 150px;
}
.mat-column-Action,.mat-column-Active,.mat-column-ExamClassGroupId{
    flex:1 1 80px;
}