<div style="margin: 20px;">
    <strong>Upload Data</strong>
</div>
<div style="min-height: 400px;">
    
    <form [formGroup]="uploadForm">        
        <div class="row">
            <input [hidden]="true" #inputfile type="file" class="form-control" (change)="browseOnChange($event)"
                placeholder="Upload file" accept=".xlsx">
        </div>        
        <span>
            <span style="margin-right: 15px;">{{selectedFile}}</span>
            <mat-form-field appearance="outline" style="margin-right: 15px;">
                <mat-label>Upload For</mat-label>
                <mat-select formControlName="UploadTypeId" (selectionChange)="onselectchange($event)">
                    <mat-option *ngFor="let p of UploadTypes" [value]="p.MasterDataId">
                        {{p.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button [disabled]="loading || Permission=='read'" 
                mat-mini-fab 
                matTooltip="select file" style="margin-right: 15px;"
                (click)="inputfile.click()">
                <mat-icon aria-label="photo">attach_file</mat-icon>
            </button>
            <button [disabled]="loading || ErrorMessage.length>0 || Permission=='read' || !ReadyForUpload" 
                type="submit" 
                (click)="readAsJson()"
                matTooltip="upload file" 
                mat-raised-button color="accent">
                <mat-icon>file_upload</mat-icon>
                <mat-icon *ngIf="loading"><mat-spinner diameter="20"></mat-spinner></mat-icon>
            </button>&nbsp;&nbsp;
            <!-- <button [disabled]="loading || ErrorMessage.length>0" type="submit" (click)="clear()"
                matTooltip="upload file" mat-mini-fab>
                <mat-icon aria-label="file_upload">clear</mat-icon>
            </button> -->
        </span>
        <mat-divider></mat-divider>

        <!-- <mat-table #table [dataSource]="dataSource" style="min-width: 1400px;" matSort>
        <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
            <mat-header-cell style="flex:1 1 100px" *matHeaderCellDef mat-sort-header>
                {{disCol}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element ">                
                {{element[disCol]}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
    </mat-table>
    <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[5,10,20,50]"></mat-paginator> -->
        <!-- <div *ngFor="let item of jsonData" fxLayout="row" fxLayoutAlign="space-between center">
        <div>{{item.StudentId}}</div>
        <div>{{item.Name}}</div>
        <div>{{item.FatherName}}</div>
        <div>{{item.FatherOccupation}}</div>
        <div>{{item.MotherName}}</div>
        <div>{{item.MotherOccupation}}</div>
        <div>{{item.Gender}}</div>
        <div>{{item.PresentAddress}}</div>
        <div>{{item.PermanentAddress}}</div>
        <div>{{item.DOB}}</div>
        <div>{{item.Bloodgroup}}</div>
    </div> -->

    </form>
    <div style="display: flex;flex-direction: column;">
        <span style="color:red;margin: 15px;" [innerHTML]="ErrorMessage">
        </span>
        <span *ngIf="ErrorMessage.length==0 && ELEMENT_DATA.length>0"
            style="margin:15px;padding: 15px 0px 15px 0px; font-weight: bold;">
            Ready to Upload. Please click on upload button.
        </span>
        <span *ngIf="loading" style="display: flex;margin:15px;">
            <span>Please wait while uploading your data..</span>
            <span><mat-spinner diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner></span>
        </span>
    </div>
</div>
<div style="margin-top:30px;" data-expand="false" #expandWrap>
    <span *ngIf="expandWrap.dataset.expand == 'false'" (click)="expandWrap.dataset.expand = 'true'">
        <mat-icon>info</mat-icon>
        Guides..
    </span>
    <span *ngIf="expandWrap.dataset.expand == 'true'" (click)="expandWrap.dataset.expand = 'false'">
        <ul>
            <li>
                <div>Whenever student class is uploaded, <b>Fee Type</b> of all uploaded students will be reset to regular</div>
            </li>            
        </ul>
    </span>
</div>