
.mat-column-VariableName,
.mat-column-VariableDescription,
.mat-column-VariableFormula
{
    flex:1 0 150px;
}
.mat-column-Active,.mat-column-Action{
    justify-content: center;
    flex: 1 0 80px;
}
.mat-column-DisplayOrder{
    flex: 1 0 80px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
    padding:0px 15px 0px 0px;
  }
