<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Admin Role Permission</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25"
        style="position:relative;margin-bottom:15px;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <form [formGroup]="searchForm">
        <mat-form-field appearance="outline" [style.width.px]="200">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="searchCustomerId" (selectionChange)="SelectApplication($event)">
                <mat-option *ngFor="let item of Organizations" [value]="item">
                    {{item.OrganizationName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.px]="200">
            <mat-label>Application</mat-label>
            <mat-select formControlName="searchApplicationId" (selectionChange)="setSelectedApplication($event)">
                <mat-option [value]="0">select</mat-option>
                <mat-option *ngFor="let feature of CustomerApps" [value]="feature.MasterDataId">
                    {{feature.Description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.px]="200">
            <mat-label>Top Feature</mat-label>
            <mat-select formControlName="PlanFeatureId" (selectionChange)="EmptyData()">
                <mat-option [value]="0">select</mat-option>
                <mat-option *ngFor="let feature of TopPageFeatures" [value]="feature.PlanFeatureId">
                    {{feature.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.px]="200">
            <mat-label>Role</mat-label>
            <mat-select formControlName="RoleId" (selectionChange)="EmptyData()">
                <mat-option *ngFor="let role of Roles" [value]="role.MasterDataId">
                    {{role.MasterDataName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button [disabled]="loading" matTooltip="search" mat-raised-button (click)="GetApplicationFeatureRole()">
            <mat-icon>search</mat-icon>
            <mat-icon *ngIf="loading">
                <mat-spinner diameter="20" color="Blue"></mat-spinner>
            </mat-icon>
        </button>
        <!-- </div> -->
    </form>
    <mat-divider></mat-divider>
    <mat-table [dataSource]="datasource" matSort>

        <ng-container matColumnDef="ApplicationFeatureRoleId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.ApplicationFeatureRoleId}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="FeatureName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Feature </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <!-- <span [innerHTML]="element.FeatureName"></span> -->
                {{element.FeatureName}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="PermissionId">
            <mat-header-cell *matHeaderCellDef> Permission </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field>
                    <mat-label>permission</mat-label>
                    <mat-select (selectionChange)="UpdateSaveButton(element)" [value]="element.PermissionId"
                        [(ngModel)]="element.PermissionId">
                        <mat-option *ngFor="let item of Permissions" [value]="item.val">{{item.type}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox *ngIf="ApplicationRoleList.length>0" matTooltip="check/uncheck all" mat-mini-fab
                    (click)="$event.stopPropagation()" (change)="checkall($event)">
                </mat-checkbox>
                &nbsp;Active
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                    [checked]="element.Active==1?true:false">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>
                <button *ngIf="ApplicationRoleList.length>0" [disabled]="Permission=='read' || loading"
                    matTooltip="save all" mat-mini-fab (click)="UpdateAll()">
                    <mat-icon *ngIf="!loading">all_out</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button [disabled]="!element.Action || Permission=='read' || loading" matTooltip="view/edit"
                    mat-mini-fab (click)="Save(element)">
                    <mat-icon *ngIf="!loading">save</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="DisplayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: DisplayColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[10,25,100]"></mat-paginator>
</div>