mat-form-field{
    position: relative;
    margin-right: 15px;
}
ckeditor{
   // height: 100%;
    width: 100%;
}
button{
    width:10em;
}
button{
    margin-right: 5px;
}
.mat-icon {
    vertical-align: middle;
 }
.row{
    margin: 2px;
}
mat-card{
width:100%;
    //    background-color:lightgray;// #20639b;
    //border-top-left-radius: 1em;
    margin-top: 15px;
}
.photo{
    margin: 10px;
    margin-left: 0px;
}
