<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Class Grouping</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <div style="padding: 15px;">
        <div style="flex-direction: row;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline" [style.width.px]="200">
                    <mat-label>Class Group</mat-label>
                    <mat-select formControlName="searchClassGroupId" (selectionChange)="ClearData()">
                        <mat-option *ngFor="let item of ClassGroups" [value]="item.ClassGroupId">
                            {{item.GroupName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="loading" mat-raised-button color="accent" (click)="GetClassGroupMapping()">
                    <mat-icon>search</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </form>
        </div>
        <div style="width: 100%;">
            <mat-table style="overflow: auto;min-width: 60vw;min-height: 60vh;" #table [dataSource]="dataSource">
                <ng-container matColumnDef="ClassGroupMappingId">
                    <mat-header-cell *matHeaderCellDef>Id
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.ClassGroupMappingId}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ClassGroupId">
                    <mat-header-cell *matHeaderCellDef>Class Group
                    </mat-header-cell>
                    <mat-cell style="display: flex;" *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <mat-select [value]="element.ClassGroupId" (selectionChange)="onBlur(element)"
                                [(ngModel)]="element.ClassGroupId">
                                <mat-option *ngFor="let item of ClassGroups" [value]="item.ClassGroupId">
                                    {{item.GroupName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ClassId">
                    <mat-header-cell *matHeaderCellDef>Class
                    </mat-header-cell>
                    <mat-cell style="display: flex;" *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <mat-select [value]="element.ClassId" (selectionChange)="BindSemesterSection(element,$event)"
                                [(ngModel)]="element.ClassId">
                                <mat-option *ngFor="let item of Classes" [value]="item.ClassId">
                                    {{item.ClassName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SemesterId">
                    <mat-header-cell *matHeaderCellDef>Semester
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <mat-select [disabled]="CategoryName=='high school'" [(ngModel)]="element.SemesterId" [value]="element.SemesterId">
                                <mat-option value="0">select</mat-option>
                                <mat-option *ngFor="let item of Semesters" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SectionId">
                    <mat-header-cell *matHeaderCellDef>Section
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <mat-select [disabled]="CategoryName=='college'" [(ngModel)]="element.SectionId" [value]="element.SectionId">
                                <mat-option value="0">select</mat-option>
                                <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef>Active
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <button [disabled]="loading || Permission=='read'" matTooltip="add new" mat-mini-fab
                            (click)="AddNew()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button style="margin-right:15px" [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save"
                            mat-raised-button color="accent" (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                            <mat-icon *ngIf="loading">
                                <mat-spinner diameter="20" color="Blue"></mat-spinner>
                            </mat-icon>
                        </button>
                        <button [disabled]="loading 
                                || !element.Action 
                                || Permission !='rwd'" matTooltip="delete" mat-mini-fab (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row style="width: 100%;" *matRowDef="let row; columns: displayedColumns;" class="element-row">
                </mat-row>
            </mat-table>
            <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[10,20,100]">
            </mat-paginator>
        </div>
        <!-- <button type="button" class="btn btn-outline-secondary mr-2" placement="top"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
            Popover on top
        </button> -->
    </div>
</div>