
mat-header-cell{
    border-right: 1px solid lightgray;
    padding: 5px;
    justify-content: center;
}
mat-cell{
    border-right: 1px solid lightgray;
}
.element-row{
    min-height: 29px;   
   }