<div>
  <div style="padding:15px 15px 10px 15px;">
    <div><strong>Student Fee Type</strong></div>
  </div>
  <mat-spinner *ngIf="PageLoading || loading" diameter="25"
    style="position:relative;margin-bottom:15px;margin-left: 50%;"></mat-spinner>
  <!-- <alert></alert> -->
  <div style="width:100%;padding: 15px;" fxLayout="column">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="StudentFeeTypeId">
        <mat-header-cell *matHeaderCellDef>Id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.StudentFeeTypeId}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="FeeTypeId">
        <mat-header-cell *matHeaderCellDef>Fee Type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="element.FeeTypeId" [value]="element.FeeTypeName"
              (selectionChange)="enableSave(element)">
              <mat-option *ngFor="let item of FeeTypeList" [value]="item.FeeTypeId">{{item.FeeTypeName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="FromMonth">
        <mat-header-cell *matHeaderCellDef>From
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <mat-select [disabled]="element.StudentFeeTypeId>0 && element.FromMonth==0 && element.ToMonth==0"
              [(ngModel)]="element.FromMonth" (selectionChange)="enableSave(element)" [value]="element.FromMonth">
              <mat-option [value]="Defaultvalue">select</mat-option>
              <mat-option *ngFor="let item of Months" [value]="item.val">{{item.MonthName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ToMonth">
        <mat-header-cell *matHeaderCellDef>To
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <mat-select [disabled]="element.StudentFeeTypeId>0 && element.FromMonth==0 && element.ToMonth==0"
              [(ngModel)]="element.ToMonth" [value]="element.ToMonth" (selectionChange)="enableSave(element)">
              <mat-option [value]="Defaultvalue">select</mat-option>
              <mat-option *ngFor="let item of Months" [value]="item.val">{{item.MonthName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Discount">
        <mat-header-cell *matHeaderCellDef>Discount
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput type="number" max="10000" (blur)="onBlur(element)" 
            [(ngModel)]="element.Discount" [value]="element.Discount">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="IsCurrent">
        <mat-header-cell *matHeaderCellDef style="justify-content: center;">Current
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: center;">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="updateIsCurrent(element,$event)"
            [checked]="element.IsCurrent">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Active">
        <mat-header-cell *matHeaderCellDef style="justify-content: center;">Active
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: center;">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
            [checked]="element.Active">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef style="justify-content: center;">
          <button [disabled]="loading || Permission=='read'" matTooltip="add new" mat-mini-fab (click)="AddNew()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: center;">
          <button style="margin-right: 15px;" [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save" mat-raised-button
            color="accent" (click)="UpdateOrSave(element)">
            <mat-icon>save</mat-icon>
          </button>
          <!-- <button [disabled]="loading || !element.Action"
           matTooltip="delete" mat-mini-fab (click)="Delete(element)">
            <mat-icon>delete</mat-icon>
          </button> -->
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" style="display: flex;align-items: baseline;"
        class="element-row"></mat-row>
    </mat-table>
    <mat-paginator style="display:flex;justify-content: center;" [pageSizeOptions]="[10,20,50]"></mat-paginator>

  </div>