:host{
    width:100%;
}
mat-card{
    margin-left: auto;
    width: 100%;
}
mat-form-field,button{
    margin-right: 15px;
}
mat-cell:first-of-type{
    padding-left: 0px;
}
.mat-column-StudentRollNo{
    flex:1 0 150px;
}
.mat-column-Percent, .mat-column-PresentCount,.mat-column-AbsentCount{
    justify-content: center;
    flex:1 1 100px;
}
.mat-column-ClassName{
    flex:1 0 120px;
}