<div style="padding: 15px 0px 0px 15px;font-weight: bold;">Student Detail</div>
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
<!-- <alert></alert> -->
<form [formGroup]="studentForm">
    <mat-tab-group #changeEvent [selectedIndex]="selectedIndex" (selectedIndexChange)="tabChanged($event)"
        class="demo-tab-group">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>info</mat-icon>Primary
            </ng-template>
            <div style="padding:15px 15px 10px 0px;">
                <div style="padding:0px 15px 15px 80px;font-weight: bold;">Primary</div>
                <mat-grid-list cols="3" rowHeight="90px" #basic>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input formControlName="FirstName" (blur)="OnBlur()" autocomplete="Off" #input matInput
                                [maxlength]="50">
                            <span class="text-danger"
                                *ngIf="f.FirstName.touched && f.FirstName.hasError('required')">First Name
                                is required.</span>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Last Name</mat-label>
                            <input formControlName="LastName" autocomplete="Off" (blur)="OnBlur()" #input matInput
                                [maxlength]="50">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <div style="margin-bottom: 15px;" *ngIf="StudentId>0" fxLayout="row"
                            fxLayoutAlign="space-between center">
                            <span style="color:red;" *ngIf="message">{{message}}</span>
                            <input #inputfile [hidden]="true" type="file" accept='image/*'
                                (change)="preview(inputfile.files)" />
                            <div style="border:1px solid lightgray; padding:5px;margin-top: 5px;margin-bottom: 5px;">
                                <img [src]="imgURL" height="150px" *ngIf="imgURL.length>0">
                            </div>
                            <div fxLayout="column" fxLayoutAlign="space-between center" style="margin: 5px;">
                                <button [disabled]="loading || Permission=='read'" mat-flat-button
                                    matTooltip="select file" (click)="inputfile.click()">
                                    <mat-icon aria-label="photo">photo</mat-icon>
                                </button>&nbsp;&nbsp;
                                <button [disabled]="loading || Permission=='read'" type="submit" (click)="uploadFile()"
                                    matTooltip="upload file" mat-flat-button>
                                    <mat-icon aria-label="file_upload">file_upload</mat-icon>
                                </button>&nbsp;&nbsp;
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Father's name</mat-label>
                            <input formControlName="FatherName" (blur)="OnBlur()" autocomplete="Off" #input matInput
                                [maxlength]="50">
                            <span class="text-danger"
                                *ngIf="f.FatherName.touched && f.FatherName.hasError('required')">Father's
                                name
                                is required.</span>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Father's occupation</mat-label>
                            <input formControlName="FatherOccupation" (blur)="OnBlur()" autocomplete="Off" #input
                                matInput [maxlength]="50">
                            <span class="text-danger"
                                *ngIf="f.FatherOccupation.touched && f.FatherOccupation.hasError('required')">Father's
                                occupation is required.</span>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Mother's name</mat-label>
                            <input formControlName="MotherName" (blur)="OnBlur()" autocomplete="Off" matInput
                                [maxlength]="50">
                            <span class="text-danger"
                                *ngIf="f.MotherName.touched && f.MotherName.hasError('required')">Mother's
                                name
                                is required.</span>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Mother's Occupation</mat-label>
                            <input formControlName="MotherOccupation" (blur)="OnBlur()" autocomplete="Off" matInput
                                [maxlength]="50">
                            <span class="text-danger"
                                *ngIf="f.MotherOccupation.touched && f.MotherOccupation.hasError('required')">Mother's
                                occupation
                                is required.</span>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="Gender" (selectionChange)="OnBlur()">
                                <mat-option *ngFor="let p of Genders" [value]="p.MasterDataId">
                                    {{p.MasterDataName}}
                                </mat-option>
                            </mat-select>
                            <span class="text-danger" *ngIf="f.Gender.touched && f.Gender.hasError('required')">Gender
                                is required.</span>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Religion</mat-label>
                            <mat-select formControlName="Religion" (selectionChange)="OnBlur()">
                                <mat-option *ngFor="let p of Religion" [value]="p.MasterDataId">
                                    {{p.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Blood group</mat-label>
                            <mat-select formControlName="Bloodgroup" (selectionChange)="OnBlur()">
                                <mat-option *ngFor="let p of Bloodgroup" [value]="p.MasterDataId">
                                    {{p.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span class="text-danger"
                            *ngIf="f.Bloodgroup.touched && f.Bloodgroup.hasError('required')">Blood group
                            is required.</span>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="Category" (selectionChange)="OnBlur()">
                                <mat-option *ngFor="let p of Category" [value]="p.MasterDataId">
                                    {{p.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Adhaar No</mat-label>
                            <input formControlName="AdhaarNo" (blur)="OnBlur()" autocomplete="Off" #Pincode matInput
                                [maxlength]="12">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>DOB</mat-label>
                            <input formControlName="DOB" matInput (dateChange)="OnBlur()" [matDatepicker]="picker"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Class for which admission is sought</mat-label>
                            <mat-select (selectionChange)="OnBlur()" formControlName="ClassAdmissionSought">
                                <mat-option *ngFor="let p of Classes" [value]="p.ClassId">
                                    {{p.ClassName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Admission Status</mat-label>
                            <mat-select formControlName="AdmissionStatus" (selectionChange)="OnBlur()">
                                <mat-option *ngFor="let p of AdmissionStatuses" [value]="p.MasterDataId">
                                    {{p.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>School Join Date</mat-label>
                            <input formControlName="AdmissionDate" matInput (dateChange)="OnBlur()"
                                [matDatepicker]="AdmissionDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="AdmissionDate"></mat-datepicker-toggle>
                            <mat-datepicker #AdmissionDate></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                <button [disabled]="loading" *ngIf="selectedIndex>0" (click)="previousStep()" matTooltip="previous tab"
                    mat-raised-button color="accent">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <button [disabled]="loading" *ngIf="selectedIndex<4" (click)="nextStep()" matTooltip="next tab"
                    mat-raised-button color="accent">
                    <mat-icon>navigate_next</mat-icon>
                </button>
                <button [disabled]="loading" (click)="back()" mat-raised-button matTooltip="dashboard" color="accent">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button [disabled]="loading || Permission=='read' || !Edited" (click)="UpdateOrSave()" matTooltip="save"
                    mat-raised-button color="accent">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <button [disabled]="loading || StudentClassId==0" mat-raised-button color="accent"
                    *ngIf="FeePaymentPermission !='' && FeePaymentPermission!='deny'" matTooltip="Fees"
                    (click)="feepayment()">
                    <mat-icon>payments</mat-icon> Fees
                </button>
            </mat-card-actions>
            <!-- </mat-card> -->
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>contact_page</mat-icon>Contact
            </ng-template>
            <div style="display:flex;flex-direction: column; padding:15px 15px 10px 0px;">
                <div style="padding:0px 15px 15px 30px;font-weight: bold;">Contact</div>
                <!-- <div style="padding:15px 15px 10px 15px;"><strong>Contact</strong></div> -->
                <div style="display:flex;margin-left: 30px;">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Personal no.</mat-label>
                        <input formControlName="PersonalNo" (blur)="OnBlur()" autocomplete="Off" #Pincode matInput
                            [maxlength]="10">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Messaging No.</mat-label>
                        <input formControlName="WhatsAppNumber" (blur)="OnBlur()" autocomplete="Off" matInput
                            [maxlength]="10">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Father's contact no.</mat-label>
                        <input formControlName="FatherContactNo" (blur)="OnBlur()" autocomplete="Off" #Pincode matInput
                            [maxlength]="10">
                    </mat-form-field>
                </div>
                <div style="display:flex;margin-left: 30px;">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Mother's contact no.</mat-label>
                        <input formControlName="MotherContactNo" (blur)="OnBlur()" autocomplete="Off" #Pincode matInput
                            [maxlength]="10">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Email Id</mat-label>
                        <input type="email" formControlName="EmailAddress" (blur)="OnBlur()" autocomplete="Off" #Pincode
                            matInput [maxlength]="50">
                    </mat-form-field>
                </div>
                <div style="display:flex;margin-left: 30px;">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Present address</mat-label>
                        <textarea formControlName="PresentAddress" (blur)="OnBlur()" autocomplete="Off" matInput
                            [maxlength]="250"></textarea>
                        <!-- <mat-hint align="end">{{MotherName.value?.length || 0}}/50</mat-hint> -->
                        <span class="text-danger"
                            *ngIf="f.PresentAddress.touched && f.PresentAddress.hasError('required')">Present
                            Address is required.</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Permanent address</mat-label>
                        <textarea formControlName="PermanentAddress" (blur)="OnBlur()" autocomplete="Off" matInput
                            [maxlength]="250"></textarea>
                        <!-- <mat-hint align="end">{{MotherName.value?.length || 0}}/50</mat-hint> -->
                        <span class="text-danger"
                            *ngIf="f.PermanentAddress.touched && f.PermanentAddress.hasError('required')">Permanent
                            Address is required.</span>
                    </mat-form-field>

                </div>
                <div style="display:flex;margin-left: 30px;">
                    <span class="radio" fxFlex>Primary contact
                        <!-- <span fxLayout="row" fxLayoutAlign="space-between top"> -->
                        <mat-radio-group (change)="displayContact($event)" aria-label="Select an option"
                            formControlName="PrimaryContactFatherOrMother">
                            <mat-radio-button *ngFor="let p of PrimaryContact" [value]="p.MasterDataId">
                                {{p.MasterDataName}}</mat-radio-button>
                        </mat-radio-group>
                        <span *ngIf="displayContactPerson">
                            <span class="innerspan" fxLayout="row" fxLayoutAlign="space-between center">
                                <!-- <div fxLayout="row"></div> -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Name Of contact person
                                    </mat-label>
                                    <input formControlName="NameOfContactPerson" (blur)="OnBlur()" autocomplete="Off"
                                        matInput [maxlength]="50">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Relation with contact person</mat-label>
                                    <input formControlName="RelationWithContactPerson" (blur)="OnBlur()"
                                        autocomplete="Off" matInput [maxlength]="50">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Contact No.</mat-label>
                                    <input formControlName="ContactPersonContactNo" (blur)="OnBlur()" autocomplete="Off"
                                        matInput [maxlength]="50">
                                </mat-form-field>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                <button [disabled]="loading" *ngIf="selectedIndex>0" (click)="previousStep()" matTooltip="previous tab"
                    mat-raised-button>
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <button [disabled]="loading" *ngIf="selectedIndex<4" (click)="nextStep()" matTooltip="next tab"
                    mat-raised-button>
                    <mat-icon>navigate_next</mat-icon>
                </button>
                <button [disabled]="loading" (click)="back()" mat-raised-button matTooltip="back to search">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button [disabled]="loading || Permission=='read' || !Edited" (click)="UpdateOrSave()" alt="save"
                    mat-raised-button color="accent">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <button [disabled]="loading || StudentClassId==0" mat-raised-button color="accent"
                    *ngIf="FeePaymentPermission !='' && FeePaymentPermission!='deny'" matTooltip="Fees"
                    (click)="feepayment()">
                    <mat-icon>payments</mat-icon> Fees
                </button>
            </mat-card-actions>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>account_balance</mat-icon>Bank Account
            </ng-template>
            <div style="display:flex;flex-direction: column; padding:15px 15px 10px 0px;">
                <div style="padding:0px 15px 15px 30px;font-weight: bold;">Bank Account</div>
                <div style="display:flex;margin-left: 30px;">
                    <!-- <div style="padding:15px 15px 10px 15px;"><strong>Bank Account</strong></div> -->
                    <!-- <div style="display:flex;flex-direction: column;padding:15px"> -->
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Account Holder Name</mat-label>
                        <input formControlName="AccountHolderName" (blur)="OnBlur()" autocomplete="Off" matInput
                            [maxlength]="30">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Account no.</mat-label>
                        <input formControlName="BankAccountNo" (blur)="OnBlur()" autocomplete="Off" matInput
                            [maxlength]="20">
                    </mat-form-field>
                </div>
                <div style="display:flex;margin-left: 30px;">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>IFSC</mat-label>
                        <input formControlName="IFSCCode" (blur)="OnBlur()" autocomplete="Off" matInput
                            [maxlength]="15">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>MICR No.</mat-label>
                        <input formControlName="MICRNo" (blur)="OnBlur()" autocomplete="Off" matInput [maxlength]="15">
                    </mat-form-field>
                </div>
            </div>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                <button [disabled]="loading" *ngIf="selectedIndex>0" (click)="previousStep()" matTooltip="previous tab"
                    mat-raised-button>
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <button [disabled]="loading" *ngIf="selectedIndex<4" (click)="nextStep()" matTooltip="next tab"
                    mat-raised-button>
                    <mat-icon>navigate_next</mat-icon>
                </button>
                <button [disabled]="loading" (click)="back()" matTooltip="dashboard" mat-raised-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button [disabled]="loading || Permission=='read' || !Edited" (click)="UpdateOrSave()" alt="save"
                    mat-raised-button color="accent">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <button [disabled]="loading || StudentClassId==0" mat-raised-button color="accent"
                    *ngIf="FeePaymentPermission !='' && FeePaymentPermission!='deny'" matTooltip="Fees"
                    (click)="feepayment()">
                    <mat-icon>payments</mat-icon> Fees
                </button>
            </mat-card-actions>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>note_add</mat-icon>Additional Info.
            </ng-template>
            <div style="display:flex;flex-direction: column; padding:15px 15px 10px 0px;">
                <div style="padding:0px 15px 15px 30px;font-weight: bold;">Additional Info.</div>

                <!-- <div style="padding:15px 15px 10px 15px;"><strong>Additional Info.</strong></div> -->
                <!-- <div fxLayout="column" fxLayoutAlign="space-around"> -->
                <div style="display:flex;margin-left: 30px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Last school attended</mat-label>
                        <input formControlName="TransferFromSchool" (blur)="OnBlur()" autocomplete="Off" #Pincode
                            matInput [maxlength]="100">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Percentage obtained in last examination</mat-label>
                        <input formControlName="LastSchoolPercentage" (blur)="OnBlur()" autocomplete="Off" #Pincode
                            matInput [maxlength]="10">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Height</mat-label>
                        <input formControlName="Height" (blur)="OnBlur()" autocomplete="Off" matInput [maxlength]="5">
                    </mat-form-field>
                </div>
                <div style="display:flex;margin-left: 30px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Club</mat-label>
                        <mat-select formControlName="Club" (selectionChange)="OnBlur()">
                            <mat-option value="0">---</mat-option>
                            <mat-option *ngFor="let p of Clubs" [value]="p.MasterDataId">
                                {{p.MasterDataName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>House</mat-label>
                        <mat-select formControlName="House" (selectionChange)="OnBlur()">
                            <mat-option value="0">---</mat-option>
                            <mat-option *ngFor="let p of Houses" [value]="p.MasterDataId">
                                {{p.MasterDataName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Weight</mat-label>
                        <input formControlName="Weight" (blur)="OnBlur()" autocomplete="Off" matInput [maxlength]="5">
                    </mat-form-field>

                </div>
                <div style="display:flex;margin-left: 30px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Remarks</mat-label>
                        <mat-select formControlName="Remarks" (selectionChange)="OnBlur()">
                            <mat-option value="0">---</mat-option>
                            <mat-option *ngFor="let p of Remarks" [value]="p.MasterDataId">
                                {{p.MasterDataName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Identification Mark</mat-label>
                        <input formControlName="IdentificationMark" (blur)="OnBlur()" autocomplete="Off" matInput
                            [maxlength]="50">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Board Registration No.</mat-label>
                        <input formControlName="BoardRegistrationNo" (blur)="OnBlur()" autocomplete="Off" matInput
                            [maxlength]="15">
                    </mat-form-field>
                </div>
                <div style="display:flex;margin-left: 30px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Notes</mat-label>
                        <textarea rows="4" cols="20" (blur)="OnBlur()" [maxlength]="50" matInput autocomplete="Off"
                            formControlName="Notes"></textarea>
                    </mat-form-field>
                    <mat-checkbox [disabled]="StudentActivatePermission=='read' || StudentActivatePermission=='deny'"
                        (click)="deActivate($event)" formControlName="Active">
                    </mat-checkbox>&nbsp; Active
                    <mat-form-field *ngIf="StudentLeaving" appearance="outline">
                        <mat-label>Reason For Leaving</mat-label>
                        <mat-select formControlName="ReasonForLeaving" (selectionChange)="OnBlur()">
                            <mat-option value="0">---</mat-option>
                            <mat-option *ngFor="let p of ReasonForLeaving" [value]="p.MasterDataId">
                                {{p.MasterDataName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                <button [disabled]="loading" *ngIf="selectedIndex>0" (click)="previousStep()" alt="previous"
                    mat-raised-button>
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <button [disabled]="loading" (click)="back()" matTooltip="back" mat-raised-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button [disabled]="loading || Permission=='read' || !Edited" (click)="UpdateOrSave()" alt="save"
                    mat-raised-button color="accent">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <button [disabled]="loading || Permission!='rwd' || StudentId==0" matTooltip="delete" mat-mini-fab
                    color="accent" (click)="Delete(StudentId)">
                    <mat-icon>delete</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <button [disabled]="loading || StudentClassId==0" mat-raised-button color="accent"
                    *ngIf="FeePaymentPermission !='' && FeePaymentPermission!='deny'" matTooltip="Fees"
                    (click)="feepayment()">
                    <mat-icon>payments</mat-icon> Fees
                </button>

            </mat-card-actions>
        </mat-tab>

    </mat-tab-group>
</form>
<div style="margin-top:30px;" data-expand="false" #expandWrap>
    <span *ngIf="expandWrap.dataset.expand == 'false'" (click)="expandWrap.dataset.expand = 'true'">
        <mat-icon>info</mat-icon>
        Guides..
    </span>
    <span *ngIf="expandWrap.dataset.expand == 'true'" (click)="expandWrap.dataset.expand = 'false'">
        <b></b>
        <ol>
            <li>
                The following required in initial setting, before before student can be added.
                <ul>
                    <li>Blood group,Gender, Religion, Student Category, Admission Status, House, Club, Remarks.</li>
                </ul>
            </li>
            <li>
                Define Class-course -> Detail, Fee definition, class fee, fee type.
            </li>
            <li>Student's class of current batch will be de-activated if student is de-activated.
                If student is active, the system checks if admission status is <b>Admitted</b>.</li>
            <li>
                If admitted is selected, student's class is activated otherwise de-activated.
            </li>
        </ol>
    </span>
</div>