mat-form-field {
    width: 100%;
  }
.mat-column-ClassSubjectId{
    // justify-content: center;
     flex:1 0 200px;
 }
.mat-column-EmployeeId,
.mat-column-SectionId,
.mat-column-SemesterId,
.mat-column-ClassId{
    flex:1 0 120px;
}
.mat-column-Active,.mat-column-Action{
    justify-content: center;
    flex:1 0 100px;
}
.mat-column-TeacherSubjectId
{
    justify-content: center;
    flex: 1 0 50px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
    padding:0px 15px 0px 0px;
  }