<div style="padding:15px 15px 10px 15px;">
    <div><strong>Exam Results</strong></div>
</div>
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
<!-- <alert></alert> -->
<!-- <div style="padding: 15px;" fxLayout="row wrap"> -->
<form [formGroup]="searchForm">
    <mat-form-field appearance="outline" style="width:250px;margin-right: 15px;">
        <mat-label>Exam</mat-label>
        <mat-select formControlName="searchExamId" (selectionChange)="FilterClass()">
            <mat-option *ngFor="let item of Exams" [value]="item.ExamId">
                {{item.ExamName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;">
        <mat-label>Class</mat-label>
        <mat-select formControlName="searchClassId" (selectionChange)="GetStudentGrade()">
            <mat-option *ngFor="let item of FilteredClasses" [value]="item.ClassId">
                {{item.ClassName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;"
        *ngIf="SelectedClassCategory==getCollegeCategory()">
        <mat-label>semester</mat-label>
        <mat-select formControlName="searchSemesterId" (selectionChange)="ClearData()">
            <mat-option [value]="Defaultvalue">select</mat-option>
            <mat-option *ngFor="let item of Semesters" [value]="item.MasterDataId">
                {{item.MasterDataName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;"
        *ngIf="SelectedClassCategory==getHighSchoolCategory()">
        <mat-label>Section</mat-label>
        <mat-select formControlName="searchSectionId" (selectionChange)="ClearData()">
            <mat-option [value]="Defaultvalue">select</mat-option>
            <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">
                {{item.MasterDataName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <mat-checkbox style="margin-right:15px" formControlName="viewMarkPercentCheckBox" (click)="$event.stopPropagation()"
        [checked]="false"> View in Percent
    </mat-checkbox> -->
    <button style="margin-right: 15px;" [disabled]="loading" mat-raised-button color="accent"
        (click)="GetStudentSubjects()">
        <mat-icon>search</mat-icon>
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20" color="Blue"></mat-spinner>
        </mat-icon>
    </button>
    <button style="margin-right: 30px;" [disabled]="loading" matTooltip="clear all" mat-raised-button (click)="clear()">
        <mat-icon>clear_all</mat-icon>
    </button>
    <button [disabled]="loading || ClickedVerified || !SectionSelected || ExamReleased==1" matTooltip="verified"
        *ngIf="ExamStudentSubjectResult.length>0 || ExamStudentSubjectGrading.length>0" mat-raised-button color="accent"
        (click)="Verified()">
        <mat-icon>checked</mat-icon>
    </button>
    <div style="display:flex;margin-bottom: 15px;">
        <div style="display:flex;margin-right: 15px; justify-content: center;">
            <button [disabled]="loading || Permission=='read'"
                *ngIf="ExamStudentSubjectResult.length>0 || ExamStudentSubjectGrading.length>0" matTooltip="print"
                printSectionId="printSection" [useExistingCss]="true" ngxPrint mat-raised-button color="accent">
                <mat-icon>print</mat-icon>
            </button>
        </div>
        <div style="display:flex;justify-content: center;">
            <button [disabled]="loading || Permission=='read'"
                *ngIf="ExamStudentSubjectResult.length>0 || ExamStudentSubjectGrading.length>0" matTooltip="export"
                (click)="ExportArray()" [useExistingCss]="true" ngxPrint mat-raised-button color="accent">
                <mat-icon>download</mat-icon>
            </button>
        </div>
    </div>
</form>
<div style="width: 100%;" id="printSection">
    <div *ngIf="ExamStudentSubjectResult.length>0">
        <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header="{{disCol}}"
                    style="writing-mode: tb-rl;transform: rotate(-180deg);width:100%;display:flex; justify-content: flex-start;margin-bottom: 10px;">
                    {{disCol!='Action'?disCol:''}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element" style="width:100%;align-self: stretch;">
                    <span style="padding:5px;align-self: stretch;color:red"
                        *ngIf="disCol!='Student' && (element[disCol]+'').includes('(')">{{element[disCol]}}</span>
                    <span style="padding:5px;display: flex;align-self: stretch;"
                        *ngIf="disCol=='Student' || !(element[disCol]+'').includes('(')">{{element[disCol]}}</span>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" style="align-items: baseline;"></mat-row>

        </mat-table>
    </div>
    <mat-paginator [hidden]="ExamStudentSubjectResult.length==0" #nonGradingPaginator="matPaginator" style="display: flex;justify-content: center;"
        [pageSizeOptions]="[10,25,100]"></mat-paginator>

    <div *ngIf="ExamStudentSubjectGrading.length>0" style="flex-direction: column;">
        <div style="font-weight: bold;">Grading Subject</div>
        <mat-table #table [dataSource]="GradingDataSource" matSort>

            <ng-container *ngFor="let disCol of GradingDisplayedColumns; let colIndex = index"
                matColumnDef="{{disCol}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="padding:15px;justify-content: center;">
                    {{disCol!='Action'?disCol:''}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element" style="padding-left:15px">
                    {{element[disCol]}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="GradingDisplayedColumns;sticky:true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: GradingDisplayedColumns;" class="elementrow"></mat-row>
        </mat-table>
        <!-- <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[10,25,100]"></mat-paginRator> -->
    </div>
</div>

<div style="margin-top:30px;" data-expand="false" #expandWrap>
    <span *ngIf="expandWrap.dataset.expand == 'false'" (click)="expandWrap.dataset.expand = 'true'">
        <mat-icon>info</mat-icon>
        Guides..
    </span>
    <span *ngIf="expandWrap.dataset.expand == 'true'" (click)="expandWrap.dataset.expand = 'false'">
        <ul>
            <li><b>Verify</b> button is disabled if the selected exam has been released.</li>
            <li><b>Verify</b> button is disabled if section is selected.</li>
        </ul>
    </span>
</div>