<div style="margin:15px 15px 15px 0px"><b>Ledger Balance</b></div>

<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>

<form [formGroup]="searchForm">
    <mat-form-field appearance="outline" [style.width.px]="150">
        <mat-label>From</mat-label>
        <input formControlName="searchFromDate" matInput [matDatepicker]="FromDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
        <mat-datepicker #FromDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.width.px]="150">
        <mat-label>To</mat-label>
        <input formControlName="searchToDate" matInput [matDatepicker]="ToDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
        <mat-datepicker #ToDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.width.px]="350" style="margin-right:15px;">
        <mat-label>Account</mat-label>
        <input type="text" matInput formControlName="searchGeneralLedgerId" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.GeneralLedgerName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button [disabled]="loading" mat-raised-button color="accent" (click)="GetAccountingVoucher()">
        <mat-icon>search</mat-icon>
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20" color="Blue"></mat-spinner>
        </mat-icon>
    </button>
</form>

<mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="DrDate">
        <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.DrDate|date:'dd/mm/yyyy'}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef><b>Debit Balance</b>
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="DrShortText">
        <mat-header-cell *matHeaderCellDef>Description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.DrShortText}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="DrAmt">
        <mat-header-cell *matHeaderCellDef>Amount
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.DrAmt}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
            {{DebitBalance}}
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="CrDate">
        <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.CrDate|date:'dd/mm/yyyy'}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef><b>Credit Balance</b>
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="CrShortText">
        <mat-header-cell *matHeaderCellDef>Description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.CrShortText}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="CrAmt">
        <mat-header-cell *matHeaderCellDef>Amount
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.CrAmt}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
            {{CreditBalance}}
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="Debit">
        <mat-header-cell *matHeaderCellDef [attr.colspan]="2">Debit
        </mat-header-cell>
    </ng-container>
    <ng-container matColumnDef="Credit">
        <mat-header-cell *matHeaderCellDef [attr.colspan]="2">Credit
        </mat-header-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="headercolumns"></mat-header-row>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
    <mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns">
    </mat-footer-row>
</mat-table>
<mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[5,10,20,50]"></mat-paginator>