<app-header *ngIf="displayDiv" #scroller [deviceXs]="deviceXs" (toggleSideBarForme)="sideBarToggler()"></app-header>

<mat-sidenav-container style="margin-top:20px;" class="flex-container" autosize="true">
    <mat-sidenav style="padding: 17px;" [(opened)]="opened" mode="side" (click)="toggleSidebar()">
        <div mat-menu-item *ngFor="let i of sideMenu" [routerLink]="[i.link]" routerLinkActive="active-list-item"
            [routerLinkActiveOptions]="{exact: true}" (click)="busy($event)">
            <mat-icon [matTooltip]="i.label">{{ i.faIcon}}</mat-icon>&nbsp;
            <span [hidden]="!opened">{{i.label}}</span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="maincontent">
        <div style="display:flex;flex-direction: row;width:99%">
            <button style="margin-left:5px; width:7px;border:1px solid white" (click)="toggleSidebar()">
            </button>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-sidebar></app-sidebar> -->
<app-footer></app-footer>
<!-- <div fxLayout="column" fxLayoutAlign="start">-->
<!-- <app-header [deviceXs]="deviceXs"></app-header>
<mat-drawer-container [hasBackdrop]="false">
    <mat-drawer [opened]="openSideBar">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
     
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer> -->
<!-- </div>  -->