:host{
    width: 100%;
}
mat-drawer {
    border-top-right-radius: 1em 1em;
    //width            : 250px;
    background-repeat      : no-repeat;
    background-color       : var(--maincolor1); // #1E4A75;//#20639b;
    //        opacity: .9;
    height                 : 100%;
    //top              : 115px;
}

mat-drawer-content {
    //background:url('/assets/images/schoolbuilding2018.jfif') no-repeat 0 0 transparent;
    //background-color: #0F5298;
    top           : 100px;
    border-radius : 1em;
    margin-bottom : 20px;
    padding-bottom: 100px;
}

.rightpanel {
    background-color: var(--maincolor1); // #1E4A75;
}

// mat-drawer-container {
//     background-color:var(--maincolor2);//#00203F;//#0e4a8b;// #0F5298;
//     //overflow: auto;
//     //display: inline-block;
//     //opacity: .5;
//     //background:url('/assets/images/schoolbuilding2018.jfif') no-repeat 0 0 transparent;
// }

app-footer {
    position: inherit;
}

// app-right{
//     border-radius: 5px;
// }
.DeviceXs {
    //position:absolute;
    //position: absolute;
    top     : 155px !important;
    //margin:2px;

    // float:right;
    // display:flex;
}

.OpenAndDeviceXs {

    //position: absolute;
    top: 155px !important;

    //transform: translate(-50%, -50%);
}

.NotDeviceXs {
    margin-top        : 0px !important;
    //background-color: #9bd8db;
}

.flex-container {
    display       : flex;
    flex-direction: column;
    min-height    : 110vh;
    //width:100%;
    //overflow: hidden;
}

.maincontent {
    flex: 1 1 100%;
}

.content {
    width: 100%;
    float: left;
}

.active-list-item {
    background-color: lightgray;
    //width           : 200px;
    //height          : 30xp;
    border-top      : 0px solid transparent;
    border-right    : 2px solid orange;
    border-bottom   : 0px solid transparent;

    font-weight: bold;
    //color: #3F51B5 !important; /* Note: You could also use a custom theme */
}