mat-form-field{
    width: 98%;
}
.mat-column-Active{
    flex:0 0 100px;
    justify-content: center;
}
.mat-column-EmployeeFamilyId{
    flex: 0 0 70px;
}
.mat-column-FullName{
    flex: 1 1 200px;
}