mat-form-field{
    margin-right: 15px;   
    width: 98%;}

.mat-column-DocDate,.mat-column-PostingDate
{
    flex:1 0 120px;
}
.mat-column-Reference,.mat-column-GeneralLedgerAccountId
{   
    flex:1 0 150px;
}
.mat-column-Amount,.mat-column-BaseAmount
{
    flex: 1 0 100px;
}
.mat-column-Active,.mat-column-Action,.mat-column-Debit{
    justify-content: center;
    flex: 1 0 100px;
}
.mat-column-ShortText{
    flex:1 0 160px;
}