<div style="padding:15px 15px 10px 15px;">
    <div><strong>Journal Entry</strong></div>
</div>
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-bottom:15px;margin-left: 50%;"></mat-spinner>
<!-- <alert></alert> -->
<form [formGroup]="searchForm">
    <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;">
        <mat-label>Posting Date</mat-label>
        <input formControlName="searchPostingDate" matInput [matDatepicker]="searchPostingDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="searchPostingDate"></mat-datepicker-toggle>
        <mat-datepicker #searchPostingDate></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" [style.width.px]="200">
        <mat-label>Reference</mat-label>
        <input type="text" matInput formControlName="searchReferenceId" [maxlength]="50" autocomplete="Off">
    </mat-form-field> -->

    <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;">
        <mat-label>Account</mat-label>
        <input type="text" matInput formControlName="searchGeneralLedgerId" [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="BindReference()" #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.GeneralLedgerName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;">
        <mat-label>description</mat-label>
        <mat-select formControlName="searchDescription">
            <mat-option *ngFor="let option of AllAccountingVouchers" [value]="option.ShortText">
                {{option.ShortText}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button [disabled]="loading" style="margin-right:15px" mat-raised-button color="accent"
        (click)="GetAccountingVoucher()">
        <mat-icon>search</mat-icon>
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20" color="Blue"></mat-spinner>
        </mat-icon>
    </button>
    <button [disabled]="loading || Permission=='read'" matTooltip="new entry" mat-raised-button (click)="addnew(true)"
        fxFlex="10">
        <mat-icon>add</mat-icon>
    </button>
</form>

<mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="DocDate">
        <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Doc Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <input [(ngModel)]="element.DocDate" [value]="element.DocDate" matInput [matDatepicker]="DocDate"
                    autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="DocDate"></mat-datepicker-toggle>
                <mat-datepicker #DocDate></mat-datepicker>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PostingDate">
        <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Posting Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <input [(ngModel)]="element.PostingDate" [value]="element.PostingDate" matInput
                    [matDatepicker]="PostingDate" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="PostingDate"></mat-datepicker-toggle>
                <mat-datepicker #PostingDate></mat-datepicker>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ShortText">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <input matInput [maxlength]="256" (blur)="SetReference(element)" autocomplete="Off"
                    [(ngModel)]="element.ShortText" [value]="element.ShortText">
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Reference">
        <mat-header-cell *matHeaderCellDef> Reference </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <input [disabled]="true" matInput [maxlength]="30" autocomplete="Off" [(ngModel)]="element.Reference"
                    [value]="element.Reference">
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="GeneralLedgerAccountId">
        <mat-header-cell *matHeaderCellDef> Account</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <input type="text" matInput [(ngModel)]="element.GeneralLedgerAccountId"
                    [value]="element.GeneralLedgerName" [matAutocomplete]="autoRow">
                <mat-autocomplete #autoRow="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filterAccount(element.GeneralLedgerName)" [value]="option">
                        {{option.GeneralLedgerName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="Debit">
        <mat-header-cell *matHeaderCellDef> Debit</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateDebit(element,$event)"
                [checked]="element.Debit">
            </mat-checkbox>
        </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="DebitAmount">
        <mat-header-cell *matHeaderCellDef> Debit </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <input matInput autocomplete="Off" type="number" (blur)="onBlur(element,'DebitAmount')" [max]="1000000"
                    [(ngModel)]="element.DebitAmount" [value]="element.DebitAmount">
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="CreditAmount">
        <mat-header-cell *matHeaderCellDef> Credit </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <input matInput autocomplete="Off" type="number" (blur)="onBlur(element,'CreditAmount')" [max]="1000000"
                    [(ngModel)]="element.CreditAmount" [value]="element.CreditAmount">
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Active">
        <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                [checked]="element.Active==1?true:false">
            </mat-checkbox>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ActivityTypeId">
        <mat-header-cell *matHeaderCellDef> Activity </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <mat-select (selectionChange)="onBlur(element,'')" [(ngModel)]="element.ActivityTypeId" [value]="element.ActivityTypeId">
                    <mat-option *ngFor="let option of ActivityTypes" [value]="option.MasterDataId">
                        {{option.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef>
            <button [disabled]="loading || Permission=='read'" matTooltip="new item" mat-raised-button
                (click)="addnew(false)" fxFlex="10">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
            <button [disabled]="loading || Permission=='read' || !element.Action" matTooltip="save" mat-raised-button
                color="accent" (click)="UpdateOrSave(element)">
                <mat-icon>save</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" style="margin-top: 7px;"></mat-row>
</mat-table>
<div style="display:flex;justify-content:center">
    <mat-paginator [pageSizeOptions]="[10,20,50]"></mat-paginator>
</div>