:host{
    display: grid;
    place-items: center;
    min-height: 92vh;
    background-color:white;    
}
.container{
    margin: 100px;
    align-self: center;
}
button{
    margin-right: 15px;
}
.column{
    margin-right: 15px;
}
// .mat-card{
//     position: relative;
//     margin-top:15px; 
//     width: 50%;
// }
.width100{
    width: 100%;
    margin-top: 100px;
}
.width80{
    width: 40%;
    margin-top: 100px;
}
mat-form-field{
    margin-right: 20px;
}
@media only screen and (max-width: 768px) {
    .bodyMargin {
        margin: 0px
    }
    .mat-card {
        position    : relative;
        height      : max-content;
        //margin-top:100px; 
        margin      : 0px;
        width       : 100%;
    }
}

@media only screen and (min-width: 769px) {
    .bodyMargin {
        margin: 30px
    }

    .mat-card {
        position    : relative;
        height      : max-content;
        //margin-top:100px; 
        margin      : 60px;
        width       : 50%;
    }

}