<mat-card>
    <mat-card-title style="margin:30px 30px 0px 30px">Select Application</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    <!-- <mat-card-content style="min-height: 100vh;margin-top:-100px; display: flex;flex-direction: column; align-items:center;justify-content: center;">         -->
    <mat-card-content>
        <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
        <form [formGroup]="searchForm">
            <!-- <div style="display:flex"> -->
            <mat-form-field [style.width.px]="250" appearance="outline">
                <mat-label>Application</mat-label>
                <mat-select formControlName="searchApplicationId" (selectionChange)="ChangeApplication()">
                    <mat-option *ngFor="let item of PermittedApplications" [value]="item.applicationId">
                        {{item.applicationName}}</mat-option>
                </mat-select>
            </mat-form-field>          
            <mat-form-field [style.width.px]="130" appearance="outline">
                <mat-label>Company</mat-label>
                <mat-select formControlName="searchSubOrgId" [compareWith]="compareWith" (selectionChange)="SubOrgChange()">
                    <mat-option *ngFor="let item of SubOrganization" 
                        [value]="item">{{item.MasterDataName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field [style.width.px]="130" appearance="outline">
                <mat-label>Batch</mat-label>
                <mat-select formControlName="searchBatchId" (selectionChange)="changebatch()">
                    <mat-option *ngFor="let item of Batches" [value]="item.BatchId">{{item.BatchName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button [disabled]="loading || !ValueChanged" mat-raised-button color="accent" (click)="submit()">
                <mat-icon>search</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
        </form>
        <!-- <button class="mat-button-raised" (click)="sendmessage()">
            <mat-icon>add</mat-icon>
        </button> -->
    </mat-card-content>
</mat-card>