:host{
    display: grid;
    place-items: center;
    min-height: 92vh;
    background-color:white;    
}

.container{
    display: flex;
    justify-content: center;
}
button{
    margin-right: 25px;
}
.column{
    margin-right: 15px;
}
// .mat-card{
//     position: relative;
//     margin-top:220px; 
// }
.width100{
    width: 100%;
}
.width80{
    width: 40%;
}
