<mat-card [ngClass]="{'width100':deviceXs,'width80':!deviceXs}">
    <mat-card-title style="margin: 30px;">Change Password</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <mat-spinner *ngIf="loading" diameter="25" style="margin:15px;position:relative;margin-left: 50%;">
        </mat-spinner>
        <form *ngIf="!isSuccessful" style="margin:30px;display: flex;flex-direction: column;"
            [formGroup]="changepwdForm" novalidate>
            <span style="display:flex;width:100%;align-items: baseline;">
                <mat-form-field>
                    <mat-label>Old Password</mat-label>
                    <input [type]="password" matInput formControlName="OldPassword" autocomplete="new-password"
                        required />
                    <!-- <div class="alert-danger" *ngIf="f.OldPassword.errors && f.submitted">
                        <div *ngIf="f.OldPassword.errors.required">Old password is required</div>
                    </div> -->
                </mat-form-field>
                <span (click)="showhidePassword()">
                    <mat-icon>{{visibility}}</mat-icon>
                </span>
            </span>
            <span style="display:flex;width:100%;align-items: baseline;">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input [type]="password" matInput formControlName="NewPassword" autocomplete="new-password"
                        required />
                    <!-- <div class="alert-danger" *ngIf="f.NewPassword.errors && f.submitted">
                        <div *ngIf="f.NewPassword.errors.required">New Password is required</div>
                        <div *ngIf="f.NewPassword.errors.minlength">
                            New Password must be at least 6 characters
                        </div>
                    </div> -->
                </mat-form-field>
                <span (click)="showhidePassword()">
                    <mat-icon>{{visibility}}</mat-icon>
                </span>
            </span>
            <span style="display:flex;width:100%;align-items: baseline;">
                <mat-form-field>
                    <mat-label for="ConfirmPassword">ConfirmPassword</mat-label>
                    <input [type]="password" matInput autocomplete="new-password" formControlName="ConfirmPassword"
                        required [maxlength]="20" />
                    <!-- <div class="alert-danger" *ngIf="f.ConfirmPassword.errors && f.submitted">
                        <div *ngIf="f.ConfirmPassword.errors.required">Confirm password is required</div>
                        <div *ngIf="f.ConfirmPassword!= f.NewPassword">
                            The password and confirm password do not match
                        </div>
                    </div> -->
                </mat-form-field>
                <span (click)="showhidePassword()">
                    <mat-icon>{{visibility}}</mat-icon>
                </span>
            </span>
            <div class="form-group">
                <button [disabled]="loading" mat-raised-button color="accent" (click)="onSubmit()" matTooltip="change">
                    <mat-icon>change_circle</mat-icon>
                </button>
                <button [disabled]="loading" (click)="gotohome()" mat-raised-button matTooltip="cancel">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
            <div class="alert alert-warning" *ngIf="errorMessage.length>0">
                Signup failed!<br />{{ errorMessage }}
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
            Change password successful!<br>
            <a style="margin: 15px;" [routerLink]="[ '/auth/login']">
                <mat-icon>login</mat-icon>
            </a>
        </div>
        <!-- </div> -->
    </mat-card-content>
</mat-card>