<div style="padding:15px 15px 10px 15px;">
    <div><strong>Certificate Config</strong></div>
</div>
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
<div>
    <form [formGroup]="searchForm">
        <mat-form-field appearance="outline" style="width:350px;margin-right: 15px;">
            <mat-label>select</mat-label>
            <input type="text" matInput (change)="cleardata()" formControlName="searchTitleId" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredMaster | async" [value]="option">
                    {{option.Title}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button [disabled]="loading" style="margin-right:15px" matTooltip="search" mat-raised-button color="accent"
            (click)="GetCertificateConfig()">
            <mat-icon>search</mat-icon>
            <mat-icon *ngIf="loading">
                <mat-spinner diameter="20" color="Blue"></mat-spinner>
            </mat-icon>
        </button>
        <button [disabled]="loading || Permission=='read'" matTooltip="add new" mat-mini-fab (click)="AddNew()">
            <mat-icon>add</mat-icon>
        </button>
    </form>
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="CertificateConfigId">
            <mat-header-cell *matHeaderCellDef>
                Id
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.CertificateConfigId}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef>Title
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input matInput [maxlength]="50" autocomplete="Off" (blur)="onBlur(element)" [value]="element.Title"
                        [(ngModel)]="element.Title">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef>Description
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <textarea rows="1" matInput [maxlength]="2000" autocomplete="Off" (blur)="onBlur(element)"
                        [value]="element.Description" [(ngModel)]="element.Description"></textarea>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ParentId">
            <mat-header-cell *matHeaderCellDef>Parent
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="element.ParentId" [value]="element.ParentId">
                        <mat-option [value]="Defaultvalue">select</mat-option>
                        <mat-option *ngFor="let item of TopCertificateConfig" [value]="item.CertificateConfigId">
                            {{item.Title}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Sequence">
            <mat-header-cell *matHeaderCellDef>Sequence
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input matInput [max]="50" (blur)="onBlur(element)" [value]="element.Sequence"
                        [(ngModel)]="element.Sequence">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Confidential">
            <mat-header-cell *matHeaderCellDef style="justify-content: center;">Confidential
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateConfidential(element,$event)"
                    [checked]="element.Confidential">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef style="justify-content: center;">Active
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateActive(element,$event)"
                    [checked]="element.Active">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                <button [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save"
                    mat-raised-button color="accent" (click)="UpdateOrSave(element)">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;let indx=index" class="element-row"
            style="align-items: center;"></mat-row>
    </mat-table>
    <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[10,20,50]"></mat-paginator>
</div>
<div style="margin-top:30px;" data-expand="false" #expandWrap>
    <span *ngIf="expandWrap.dataset.expand == 'false'" (click)="expandWrap.dataset.expand = 'true'">
        <mat-icon>info</mat-icon>
        Guides..</span>
    <span *ngIf="expandWrap.dataset.expand == 'true'" (click)="expandWrap.dataset.expand = 'false'">
        <ol>
            <li>
                <div fxLayoutGap="30px" fxLayout="row wrap" fxLayoutAlign="space-around center" class="boxes">
                    <strong>Below variable name can be added in certificate definition.</strong>
                    <div *ngFor="let item of StudentVariableNames">
                        {{item}}
                    </div>
                </div>
            </li>

        </ol>
    </span>
</div>