  .mat-table {
    overflow    : auto;
    //max-height: 500px;
  }
button{
  margin-right: 15px;
}
  .mat-form-field {
    margin-right: 15px;
    width       : 99%;
  }

  .mat-column-ClassFeeId{
    flex: 1 1 70px;
  }
  .mat-column-PaymentOrder,
  .mat-column-Amount,
  .mat-column-Rate,
  .mat-column-Quantity,
  .mat-column-Active,
  .mat-column-Action {
    flex: 1 1 80px;
  }

  
  .mat-column-FeeName,
  .mat-column-Month {
    flex: 1 0 150px;
  }