// mat-form-field{
//     width:98%;
//     margin-right: 15px;;
// }
.mat-column-TBSequence,.mat-column-IncomeStatementSequence,
.mat-column-ExpenseSequence,
.mat-column-AssetSequence,
.mat-column-LnESequence{
    flex:1 0 100px;
}
.mat-column-Active,.mat-column-AccountNatureId{
    flex: 1 0 80px;
}
.mat-column-GroupOrNature,
.mat-column-DebitType,
.mat-column-Action{
    justify-content:center;
    flex:1 0 110px;
}
.mat-column-AccountName,.mat-column-ParentId,.mat-column-AccountTypeId
{    
    flex:1 0 150px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
    padding:0px 15px 0px 0px;
  }
