// .container{
//     //position: absolute;
//     margin-top: 100px;
// }
// .mat-cell, .mat-header-cell {
//     width:150px;
// }
  
// .mat-footer-row,
// .mat-header-row,
// .mat-row {
//    // display: inline-flex;
//     min-width: 100%;
// }
  
// mat-checkbox{
//     margin-right:15px;
//     width:100%;
// }
mat-cell:first-of-type{
    padding-left: 0px;
}
mat-form-field{
    margin-right:15px;
    width: 99%;
}
button{
    margin-right:15px;
}
.mat-sort-header-container,.mat-sort-header-content {
    height:100% !important;
}

mat-header-cell{
    border-right: 1px solid lightgray;
    justify-content: center;
    align-self: stretch;
}

mat-cell{
    border-right: 1px solid lightgray;
    justify-content: center;   
    align-self: stretch;
}
.mat-column-Student{
    justify-content: flex-start;
    flex:1 1 150px;
}
.mat-column-Action{
    padding: 10px;
    display: flex;
    //justify-content: space-between;
    flex:1 1 110px;
}

