.mat-column-LastName,
.mat-column-Active,
.mat-column-Action,.mat-column-PID {
    flex: 1 0 80px;
}

.mat-column-Name{
    flex: 1 0 200px;
}
.mat-column-FatherName,.mat-column-MotherName,.mat-column-ReasonForLeaving,.mat-column-Notes {
    flex: 1 0 180px;
}
.mat-column-UpdatedDate{
    flex:1 0 140px;
}
mat-header-cell,mat-cell{
    border-right: 1px solid lightgray;
}