<!-- <div> -->
<div style="padding:15px 15px 10px 15px;">
    <div><strong>Data Sync</strong></div>
</div>
<mat-spinner *ngIf="PageLoading" diameter="25"
    style="position:relative;margin-bottom:15px;margin-left: 50%;"></mat-spinner>
<div style="padding: 15px;flex-direction: column;">
    <mat-table #table [dataSource]="dataSource">
        <!-- <ng-container matColumnDef="DataSyncId">
            <mat-header-cell *matHeaderCellDef>Id
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.DataSyncId}}
            </mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="TableName">
            <mat-header-cell *matHeaderCellDef>Table Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.TableName}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="CreatedDate">
            <mat-header-cell *matHeaderCellDef>Date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.CreatedDate|date:'dd-MM-yyyy H:mm'}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="DataMode">
            <mat-header-cell *matHeaderCellDef>Mode
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.DataMode}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Synced">
            <mat-header-cell *matHeaderCellDef>Synced
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()" [checked]="element.Synced">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>
                <!-- <button [disabled]="loading || Permission=='read'" matTooltip="add new" mat-mini-fab
                                (click)="AddNew()">
                                <mat-icon>add</mat-icon>
                            </button> -->
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save"
                    mat-raised-button color="accent" (click)="UpdateOrSave(element)">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
    </mat-table>
    <div>
        <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[10,20,50,100]">
        </mat-paginator>
    </div>
    <div style="display:flex;justify-content: center;width:100%;margin-top: 15px;">
        <button style="width:120px;margin-right: 15px;" [disabled]="loading || Permission=='read' || 
        (SyncDataList.length>0 && DownloadedSyncData.length>0)" 
            matTooltip="download data to sync"
            (click)="Download()" mat-raised-button color="accent">
            <mat-icon>download_for_offline</mat-icon>
        </button>
        <!-- <button style="width:120px" [disabled]="loading || Permission=='read' || DownloadedSyncData.length==0" 
            matTooltip="export to excel"
            (click)="exportArray()" mat-raised-button color="accent">
            <mat-icon>download_for_offline</mat-icon>
        </button> -->
    </div>
    <!-- <div style="margin-top:30px;" data-expand="false" #expandWrap>
            <span *ngIf="expandWrap.dataset.expand == 'false'" (click)="expandWrap.dataset.expand = 'true'">
                <mat-icon>info</mat-icon>
                Guides...
            </span>
            <span *ngIf="expandWrap.dataset.expand == 'true'" (click)="expandWrap.dataset.expand = 'false'">
                <ul>
                    <li>Formula can be defined for an exam which will be used for that exam and all classes and all subjects
                        or each subject for that exam.
                    </li>
                    <li>Similarly, for an exam - class, exam - class - semester, class - section which will be used
                        for the selected exam, class, semester, section and all subjects or each subject.
                    </li>
                    <li>If exam has been released, formula cannot be updated.</li>
                    <li>A subject cannot have components in Promotional Exam or Average calculation exam.</li>
                    <li>In promotional or average exam, marks are calculated on the percentage of the total marks of the subject in the previous exam.</li>
                </ul>
            </span>
        </div> -->
</div>