mat-form-field {
    margin-right: 15px;
    width       : 98%;
    max-width   : 250px;
  }
  
  mat-cell:first-of-type {
    padding-left: 15px;
  }
  
  .mat-column-Points{
    justify-content: center;
    font-weight: bold;
  }