<!-- <div> -->
<div style="padding:15px 15px 10px 15px;">
    <div><strong>Activity</strong></div>
</div>
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;margin-bottom: 15px;"></mat-spinner>
<!-- <alert></alert> -->
<!-- <div style="padding: 15px;"> -->
<div style="width: 100%;">
    <form [formGroup]="searchForm">
        <mat-form-field appearance="outline" style="width:180px;margin-right: 15px;">
            <mat-label>activity</mat-label>
            <mat-select formControlName="searchActivity" (selectionChange)="SelectCategory($event)">
                <mat-option [value]="Defaultvalue">select</mat-option>
                <mat-option *ngFor="let item of EmployeeActivity" [value]="item.MasterDataId">
                    {{item.MasterDataName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:180px;margin-right: 15px;">
            <mat-label>category</mat-label>
            <mat-select formControlName="searchCategoryId" (selectionChange)="ClearData()">
                <mat-option [value]="Defaultvalue">select</mat-option>
                <mat-option *ngFor="let item of EmployeeActivityCategories" [value]="item.MasterDataId">
                    {{item.MasterDataName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:180px;margin-right: 15px;">
            <mat-label>session</mat-label>
            <mat-select formControlName="searchSession" (selectionChange)="ClearData()">
                <mat-option [value]="Defaultvalue">select</mat-option>
                <mat-option *ngFor="let item of EmployeeActivitySession" [value]="item.MasterDataId">
                    {{item.MasterDataName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width:250px;margin-right: 15px;" appearance="outline">
            <mat-label>employee</mat-label>
            <input type="text" matInput formControlName="searchEmployeeName" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="ClearData()">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.Name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button [disabled]="loading" mat-raised-button (click)="GetEmployeeActivity()">
            <mat-icon>search</mat-icon>
            <mat-icon *ngIf="loading">
                <mat-spinner diameter="20" color="Blue"></mat-spinner>
            </mat-icon>
        </button>
        <button style="margin-left:15px" [disabled]="loading || Permission=='read'" matTooltip="add new activity"
            mat-mini-fab (click)="AddNew()">
            <mat-icon>add</mat-icon>
        </button>
    </form>
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="EmployeeActivityId">
            <mat-header-cell *matHeaderCellDef>Id
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.EmployeeActivityId}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Employee">
            <mat-header-cell *matHeaderCellDef>Employee
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.Employee}}
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef>Description
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <textarea rows="1" matInput [maxlength]="256" (blur)="onBlur(element)" [value]="element.Description"
                        [(ngModel)]="element.Description"></textarea>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ActivityNameId">
            <mat-header-cell *matHeaderCellDef>Activity
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select (blur)="onBlur(element)" [(ngModel)]="element.ActivityNameId" [value]="element.ActivityNameId">
                        <mat-option *ngFor="let item of EmployeeActivity" [value]="item.MasterDataId">
                            {{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="EmployeeActivityCategoryId">
            <mat-header-cell *matHeaderCellDef>Category
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="CategoryChanged(element)" [(ngModel)]="element.EmployeeActivityCategoryId"
                        [value]="element.EmployeeActivityCategoryId">
                        <mat-option *ngFor="let item of EmployeeActivityCategories" [value]="item.MasterDataId">
                            {{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="EmployeeActivitySubCategoryId">
            <mat-header-cell *matHeaderCellDef>Sub Category
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="onBlur(element)" [(ngModel)]="element.EmployeeActivitySubCategoryId"
                        [value]="element.EmployeeActivitySubCategoryId">
                        <mat-option [value]="0">--sub category--</mat-option>
                        <mat-option *ngFor="let item of element.ActivitySubCategory"
                            [value]="item.MasterDataId">{{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SessionId">
            <mat-header-cell *matHeaderCellDef>Session
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="onBlur(element)" [(ngModel)]="element.SessionId"
                        [value]="element.SessionId">
                        <mat-option [value]="0">select</mat-option>
                        <mat-option *ngFor="let item of EmployeeActivitySession" [value]="item.MasterDataId">
                            {{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ActivityDate">
            <mat-header-cell *matHeaderCellDef>Date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input [value]="element.ActivityDate" (dateChange)="onBlur(element)"
                        [(ngModel)]="element.ActivityDate" matInput [matDatepicker]="ActivityDate"
                        autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="ActivityDate"></mat-datepicker-toggle>
                    <mat-datepicker #ActivityDate></mat-datepicker>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef style="justify-content: center;">Active
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateActive(element,$event)"
                    [checked]="element.Active==1?true:false">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                <button [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save"
                    mat-raised-button color="accent" (click)="UpdateOrSave(element)">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"
            style="align-items: start;"></mat-row>
    </mat-table>
</div>

<!-- </div> -->