
.mat-column-faIcon,.mat-column-ParentId{
  flex:0 0 180px;
}
.mat-column-PageTitle,.mat-column-label,.mat-column-link{
  flex:0 0 200px;
}
.mat-column-Active,.mat-column-Action{
  flex:0 0 100px;
}
.mat-column-PageId,.mat-column-DisplayOrder,.mat-column-HasSubmenu,.mat-column-IsTemplate,.mat-column-HomePage{
  flex:0 0 60px;
}
mat-cell:first-of-type{
  padding-left: 0px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
  padding:0px 15px 0px 0px;
}