mat-form-field{
    margin-right:15px;
    width:98%;
}
mat-cell{
    width: 98%;
}
.mat-column-QuestionBankId{
    flex:1 1 50px;
}
.mat-column-Question{
    flex:1 1 100%;
}
.mat-column-DifficultyLevelId,
.mat-column-Active,
.mat-column-Action{
    flex:1 0 100px;
}