mat-card{
    //margin-top: 100px;
    margin-left: auto;
    width: 100%;
}

mat-cell:first-of-type{
    padding-left: 0px;
}
.mat-column-AttendanceStatusId,.mat-column-Action{
    justify-content: center;
    flex:1 1 100px;
    min-width: 80px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
    padding:0px 15px 0px 0px;
  }