button{
    margin-right:15px;
}
mat-cell,mat-header-cell{
    border-right: 1px solid lightgray;
}
mat-cell:first-of-type {
    padding-left: 0px;
    width: 70px;
}

.mat-column-RatingId //, .mat-column-CategoryId,.mat-column-SubCategoryId
{
    flex:0 0 150px;
}
.mat-column-Action1
{
    flex:1 0 200px;
}
.mat-column-Student{
    flex: 0 0 150px;
    max-width: 150px;
    word-break: break-all;
}
.mat-column-ClassName,
.mat-column-ExamName,
.mat-column-EvaluationName,
.mat-column-ClassGroupName,
.mat-column-Subject{
    flex:1 0 150px;
}
.mat-column-AutoId,.mat-column-PID,.mat-column-RollNo{
    justify-content: center;
    flex:0 0 100px;
}
.mat-column-Action,
.mat-column-Active
{
    justify-content: center;
    flex:1 0 100px;
}
.mat-column-Detail,.mat-column-Description,.mat-column-AnswerOptionsId{
    flex:1 0 500px;
}