:host{
    width: 100%;
    box-sizing: border-box;
}
mat-form-field{
    width:98%;
    margin-right: 15px;
}
.mat-column-Description
{
    flex:1 1 400px;
}
.mat-column-RulesOrPolicyCategoryId,
.mat-column-RuleOrPolicyTypeId
{
    flex:1 1 120px;
}
.mat-column-Sequence{
    flex:1 1 100px;
}
.mat-column-Active,.mat-column-Action{
    justify-content: center;
    flex:1 1 100px;
}
.mat-column-RulesOrPolicyId
{
    flex:1 0 50px;
}
// :host ::ng-deep ckeditor{
//     height:500px;
// }