<mat-card>
    <mat-card-title style="margin: 30px;">Reset Password</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <mat-spinner *ngIf="loading" diameter="25" style="margin:15px;position:relative;margin-left: 50%;"></mat-spinner>
        <form *ngIf="!isSuccessful" style="margin:30px;display: flex;flex-direction: column;" [formGroup]="resetpwdForm"
         novalidate>
               
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="NewPassword" autocomplete="new-password"
                        required/>                  
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="ConfirmPassword">ConfirmPassword</mat-label>
                    <input type="password" matInput autocomplete="new-password" formControlName="ConfirmPassword"
                        required [maxlength]="20"/>                
                </mat-form-field>
                <div class="form-group">
                    <button [disabled]="loading" 
                    mat-raised-button color="accent"
                    (click)="onSubmit()"
                    matTooltip="reset password">
                        <mat-icon>change_circle</mat-icon>
                    </button>
                    <button [disabled]="loading" (click)="gotohome()" mat-raised-button matTooltip="cancel">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
                <div class="alert alert-warning" *ngIf="errorMessage.length>0">
                    {{ errorMessage }}
                </div>
            </form>
            <div class="alert alert-success" *ngIf="isSuccessful">
                Reset password successful!<br>
                <a style="margin: 15px;" [routerLink]="[ '/auth/login']">
                    <mat-icon>login</mat-icon>
                </a>
            </div>
        <!-- </div> -->
    </mat-card-content>
</mat-card>