:host{
    display: flex;
    justify-content: center;
    min-height: 91vh;
    background-color:white;    
}
.mat-card{
    position: relative;
    height: max-content;
    //margin-top:100px; 
    margin: 60px;
    width: 50%;
}
button{
    margin-right: 25px;
}
