mat-form-field{
    margin-right: 15px;
    width:99%;
}
.mat-column-SalaryComponent,.mat-column-Grade{
  flex:1 0 150px;
}
.mat-column-ActualFormulaOrAmount,.mat-column-FormulaOrAmount{
    flex:1 0 200px;
}
.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }