mat-form-field{
    width: 98%;
}
.mat-column-Active,.mat-column-Action,.mat-column-PlanAndMasterDataId{
    flex:0 0 100px;
}
.mat-column-MasterItemName{
    flex: 0 0 150px;
}
// .header {
//     padding: 5px;
//   }
  
  
  .mat-sort-header-content{
      justify-content:start;
  }