<div style="padding: 15px;"><strong>Student Attendance</strong></div>
<!-- <alert></alert> -->
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
<form [formGroup]="searchForm">
    <div style="display:flex;justify-content: space-between;">
        <div style="margin-right: 15px;">
            <mat-form-field appearance="outline" style="min-width: 130px;margin-right: 15px;">
                <mat-label>Class</mat-label>
                <mat-select formControlName="searchClassId" (selectionChange)="bindClassSubject()">
                    <mat-option *ngFor="let item of Classes" [value]="item.ClassId">{{item.ClassName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="min-width: 130px;margin-right: 15px;" *ngIf="SelectedClassCategory=='college'">
                <mat-label>semester</mat-label>
                <mat-select formControlName="searchSemesterId">
                    <mat-option *ngFor="let item of Semesters" [value]="item.MasterDataId">{{item.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="min-width: 130px;margin-right: 15px;" *ngIf="SelectedClassCategory=='high school'">
                <mat-label>Section</mat-label>
                <mat-select formControlName="searchSectionId" (selectionChange)="ClearData()">
                    <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">{{item.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="min-width: 130px;margin-right: 15px;">
                <mat-label>Date</mat-label>
                <input formControlName="searchAttendanceDate" matInput [matDatepicker]="AttendanceDate"
                    autocomplete="off" (dateChange)="ClearData()">
                <mat-datepicker-toggle matSuffix [for]="AttendanceDate"></mat-datepicker-toggle>
                <mat-datepicker #AttendanceDate></mat-datepicker>
            </mat-form-field>
            <button [disabled]="loading" (click)="GetStudentAttendance()" mat-raised-button color="accent">
                <mat-icon>search</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
        </div>
        <div
            style="min-width:200px;display:flex;flex-direction:column;padding:10px 10px 0px 10px; border:1px solid lightgray">
            <b style="margin-bottom: 15px;">Only for subject wise attendance.</b>
            <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <mat-select formControlName="searchClassSubjectId"
                    (selectionChange)="GetExistingStudentClassSubjects()">
                    <mat-option [value]="0">--select--</mat-option>
                    <mat-option *ngFor="let item of FilteredClassSubjects"
                        [value]="item.ClassSubjectId">{{item.ClassSubject}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
<div style="display:flex;flex-direction: column; max-width: 900px;">
    <div style="font-style: italic;margin:15px 15px 0px 0px">{{AttendanceMsg}}</div>
    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="RollNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>R.No.
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.RollNo}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Student">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Student
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.Student}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="AttendanceStatusId">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="display: flex;flex-direction: column;">
                <mat-form-field *ngIf="StudentAttendanceList.length>0">
                    <mat-label>Select All</mat-label>
                    <mat-select (selectionChange)="checkall($event)">
                        <mat-option [value]="0">select</mat-option>
                        <mat-option *ngFor="let item of AttendanceStatus"
                            [value]="item.MasterDataId">{{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-checkbox *ngIf="StudentAttendanceList.length>0" matTooltip="check/uncheck all" mat-mini-fab
                    (click)="$event.stopPropagation()" (change)="checkall($event)">
                </mat-checkbox> -->
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field>
                    <mat-select (selectionChange)="UpdateActive(element,$event)" [(ngModel)]="element.AttendanceStatusId" 
                    [value]="element.AttendanceStatusId">
                        <mat-option [value]="0">select</mat-option>
                        <mat-option *ngFor="let item of AttendanceStatus"
                            [value]="item.MasterDataId">{{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateActive(element,$event)"
                    [checked]="element.AttendanceStatusId==AttendancePresentId?true:false">
                </mat-checkbox> -->
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field>
                    <textarea rows="1" matInput [maxlength]="250" autocomplete="Off" (blur)="onChangeEvent(element,$event)"
                        [value]="element.Remarks" [(ngModel)]="element.Remarks"></textarea>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>
                <button [disabled]="loading || !EnableSave || Permission=='read'" *ngIf="StudentAttendanceList.length>0"
                    matTooltip="save all" mat-mini-fab (click)="saveall()">
                    <mat-icon>all_out</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                <button [disabled]="loading || !element.Action || Permission=='read' || !EnableSave"
                    matTooltip="view/edit" mat-raised-button color="accent" (click)="SaveRow(element)">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
    </mat-table>
    <mat-paginator style="display:flex;justify-content: center;" [pageSizeOptions]="[10,20,50,75]"></mat-paginator>
</div>