footer{
    display:flex;
    justify-content: center;
    padding:10px;
    //color:white;
    background-color:#ffe77aff;
    font-size: small;
    //max-width: 81%;
}
@media screen and (max-width: 600px) {
   .bottom
    {
        max-width: 100%;
    }
  }