<!-- <mat-card> -->
<div style="margin:20px;font-weight: bold;">My Leave</div>
<!-- <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    <mat-card-content> -->
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>


<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="EmployeeLeaveId">
        <mat-header-cell *matHeaderCellDef>Id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.EmployeeLeaveId}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="LeaveTypeId">
        <mat-header-cell *matHeaderCellDef>Leave
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="element.LeaveTypeId" [value]="element.LeaveTypeId" (selectionChange)="onBlur(element)">
                    <mat-option *ngFor="let item of LeavePolicies" [value]="item.LeavePolicyId">
                        {{item.Leave}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="LeaveFrom">
        <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input [(ngModel)]="element.LeaveFrom" [value]="element.LeaveFrom" (dateChange)="dateChage(element)" matInput [matDatepicker]="LeaveFrom"
                    autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="LeaveFrom"></mat-datepicker-toggle>
                <mat-datepicker #LeaveFrom></mat-datepicker>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="LeaveTo">
        <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <mat-label>End Date</mat-label>
                <input [value]="element.LeaveTo" [(ngModel)]="element.LeaveTo" (dateChange)="dateChage(element)" matInput [matDatepicker]="LeaveTo"
                    autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="LeaveTo"></mat-datepicker-toggle>
                <mat-datepicker #LeaveTo></mat-datepicker>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="LeaveReason">
        <mat-header-cell *matHeaderCellDef> Reason for leave </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <textarea type="number" matInput autocomplete="Off"(blur)="onBlur(element)" [value]="element.LeaveReason"
                    [(ngModel)]="element.LeaveReason"></textarea>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="NoOfDays">
        <mat-header-cell *matHeaderCellDef> No. Of Days </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <input [disabled]="true" type="number" matInput autocomplete="Off" [value]="element.NoOfDays"
                    [(ngModel)]="element.NoOfDays">
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="LeaveStatusId">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <!-- [disabled]="!ApprovePermission.includes('rw')" -->
                <mat-select [(ngModel)]="element.LeaveStatusId" 
                    [value]="element.LeaveStatusId" (selectionChange)="onBlur(element)">
                    <mat-option *ngFor="let item of LeaveStatus" [value]="item.MasterDataId">
                        {{item.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Remarks">
        <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <textarea matInput autocomplete="Off" [value]="element.Remarks" (blur)="onBlur(element)"
                    [(ngModel)]="element.Remarks"></textarea>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Active">
        <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                [checked]="element.Active==1?true:false">
            </mat-checkbox>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef>
            <button [disabled]="loading || !EmployeeId || Permission=='read'"
                matTooltip="add new" mat-mini-fab (click)="addnew()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button [disabled]="loading || !element.Action || element.LeaveStatus.toLowerCase()!='pending'" matTooltip="save" mat-mini-fab
                color="accent" (click)="UpdateOrSave(element)">
                <mat-icon>save</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
</mat-table>