<div class="content" fxLayout="row" fxLayoutAlign="center center">
    <div style="height: 150px;">
      
    </div>
    <div style="margin-bottom: 20px;">
        <img src="assets/images/stpaulslogo.png" width="130px">
    </div>
    <span class="name">St. Paul's Institute</span>
    <div class="enter">
        <button [disabled]="loading" (click)="home()" class="button buttonon">ENTER</button>
    </div>
    
        <img src="../../../../assets/images/schooltop.png" width="100%" style="margin-top: -100px;opacity: 1.2;">

</div>