<div style="padding:15px 15px 10px 15px;">
    <div><strong>Role User Mapping</strong></div>
</div>
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
<!-- <alert></alert> -->
<div fxLayout="row" fxLayoutAlign="start center">
    <form [formGroup]="searchForm">
      
        <mat-form-field appearance="outline">
            <mat-label>role</mat-label>
            <mat-select formControlName="searchRoleId" (selectionChange)="ClearData()">
                <mat-option *ngFor="let item of Roles" [value]="item.MasterDataId">
                    {{item.MasterDataName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field [style.width.px]="250" appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="searchUserName" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="ClearData()">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.UserName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button [disabled]="loading" mat-raised-button color="accent" (click)="GetRoleUser()">
            <mat-icon>search</mat-icon>
            <mat-icon *ngIf="loading">
                <mat-spinner diameter="20" color="Blue"></mat-spinner>
            </mat-icon>
        </button>
    </form>
</div>
<div [ngClass]="{'disableDiv': RoleUserId!=0}">
    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="User">
            <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef mat-sort-header>Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.User}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="RoleId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field>
                    <mat-label>role</mat-label>
                    <mat-select [disabled]="element.Role=='Admin'" [value]="element.RoleId"
                        (selectionChange)="onBlur(element)" [(ngModel)]="element.RoleId">
                        <mat-option *ngFor="let item of Roles" [value]="item.MasterDataId">
                            {{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-checkbox [checked]="element.Active==1?true:false" (change)="updateActive(element,$event)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>
                <!-- <button [disabled]="loading" mat-mini-fab (click)="addnew()">
                            <mat-icon>add</mat-icon>
                        </button> -->
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                <button [disabled]="loading || !element.Action || Permission=='read'" mat-mini-fab
                    (click)="UpdateOrSave(element)">
                    <mat-icon matTooltip="save">save</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
    </mat-table>
    <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[10,25,100]"></mat-paginator>
</div>