<div style="padding: 15px;"><strong>Defaulter</strong></div>
<!-- <alert></alert> -->
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
<form [formGroup]="searchForm">
    <mat-form-field appearance="outline" [style.width.px]="150">
        <mat-label>Class</mat-label>
        <mat-select formControlName="searchClassId" (selectionChange)="bindClassSubject()">
            <mat-option *ngFor="let item of Classes" [value]="item.ClassId">{{item.ClassName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="SelectedClassCategory==getCollegeCategory()" [style.width.px]="200">
        <mat-label>semester</mat-label>
        <mat-select formControlName="searchSemesterId" (selectionChange)="ClearData()">
            <mat-option [value]="Defaultvalue">select</mat-option>
            <mat-option *ngFor="let item of Semesters" [value]="item.MasterDataId">
                {{item.MasterDataName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="SelectedClassCategory==getCollegeCategory()" [style.width.px]="200">
        <mat-label>Section</mat-label>
        <mat-select formControlName="searchSectionId" (selectionChange)="ClearData()">
            <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">{{item.MasterDataName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.width.px]="150">
        <mat-label>Subject</mat-label>
        <mat-select formControlName="searchClassSubjectId" (selectionChange)="ClearGrid()">
            <mat-option [value]="Defaultvalue">--select--</mat-option>
            <mat-option *ngFor="let item of FilteredClassSubjects" [value]="item.ClassSubjectId">{{item.ClassSubject}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.width.px]="200">
        <mat-label>Absence not approved days or more</mat-label>
        <input matInput [value]="DefaultDays" formControlName="searchAbsentCount" autocomplete="Off" type="number">           
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" [style.width.px]="150">
        <mat-label>Attendance Date</mat-label>
        <input formControlName="searchAttendanceDate" matInput [matDatepicker]="AttendanceDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="AttendanceDate"></mat-datepicker-toggle>
        <mat-datepicker #AttendanceDate></mat-datepicker>
    </mat-form-field> -->
    <button [disabled]="loading" (click)="GetStudentAttendance()" mat-raised-button color="accent">
        <mat-icon>search</mat-icon>
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20" color="Blue"></mat-spinner>
        </mat-icon>
    </button>
</form>
<mat-table #table [dataSource]="dataSource" matSort style="max-width: 700px;">
    <ng-container matColumnDef="ClassName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Class
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.ClassName}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="StudentRollNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Student-Rollno
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.StudentRollNo}}
        </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="ClassSubject">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Subject
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.ClassSubject}}
        </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="PersonalNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Personal No.
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.PersonalNo}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="AbsentCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Absent Count </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.AbsentCount}}
        </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="ReportedTo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reported To
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <mat-label>reported to</mat-label>
                <mat-select [(ngModel)]="element.ReportedTo" [value]="element.ReportedTo">
                    <mat-option [value]="Defaultvalue">--select--</mat-option>
                    <mat-option *ngFor="let item of Teachers" [value]="item.TeacherId">{{item.TeacherName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>        
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Approved">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Approved
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateApproved(element,$event)"
                [checked]="element.Approved">
            </mat-checkbox>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Remarks">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.Remarks}}
        </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef>
            <button [disabled]="loading || !EnableSave || Permission=='read'"
                *ngIf="StudentAttendanceList.length>0" matTooltip="save all" mat-mini-fab (click)="saveall()">
                <mat-icon>all_out</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
            <button [disabled]="loading || !element.Action || Permission=='read' || !EnableSave" matTooltip="view/edit"
                mat-raised-button color="accent" (click)="SaveRow(element)">
                <mat-icon>save</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
</mat-table>
<mat-paginator style="display:flex;justify-content: center;" [pageSizeOptions]="[10,20,50,75]"></mat-paginator>