:host{
    width:100%;
}
mat-card{
    margin-left: auto;
    width: 100%;
}
mat-form-field{
    margin-right: 15px;
    width:99%;
}
// mat-cell,mat-header-cell:first-of-type{
//     padding-left: 0px;
// }
mat-cell,mat-header-cell{
    padding: 10px;
    border-right: 1px solid lightgray;
    align-self: stretch;
}
.mat-column-Approved,.mat-column-Action,.mat-column-AbsentCount{
    flex:1 1 80px;
    justify-content: center;
}
.mat-column-ReportedTo,.mat-column-PersonalNo,.mat-column-ClassName{
    flex:1 1 120px;
}
.mat-column-StudentRollNo{
    flex:1 1 140px;
}