mat-header-cell{
    justify-content: center;
}
mat-cell,mat-header-cell{
    align-self: stretch;
    padding: 15px;
    border-right: 1px solid lightgray;
}
.mat-column-Day{
    width:60px;
}
// @media print {
//     font-size: 133%;
//   }
  