// mat-form-field{
//     margin-right: 15px;
//     width:99%;
// }
.mat-column-SalaryComponent {
  flex: 1 0 150px;
}

.mat-column-Amount {
  flex: 1 0 120px;
}

.mat-column-SlNo {
  flex: 1 0 40px;
}

.element-row {
  min-height: 30px;
}