mat-form-field{
    margin-right: 15px;
    width: 98%;
}
.mat-column-Active{
    justify-content: center;
    flex: 1 0 80px;
}
.mat-column-Action,.mat-column-ClassId,.mat-column-ComponentName,
.mat-column-ClassSubjectId{
  //  justify-content: center;
    flex: 1 0 120px;
}
.mat-column-Sequence,.mat-column-SubjectComponentId{
    flex: 1 0 70px;
}

