<div style="width: 100%;">
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Subject Component</strong></div>
    </div>
    <form [formGroup]="searchForm">
        <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;">
            <mat-label>Class</mat-label>
            <mat-select formControlName="searchClassId" (selectionChange)="SelectClassSubject()">
                <mat-option *ngFor="let item of Classes" [value]="item.ClassId">
                    {{item.ClassName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;"
            *ngIf="SelectedClassCategory==getCollegeCategory()">
            <mat-label>semester</mat-label>
            <mat-select formControlName="searchSemesterId" (selectionChange)="ClearData()">
                <mat-option [value]="Defaultvalue">select</mat-option>
                <mat-option *ngFor="let item of Semesters" [value]="item.MasterDataId">
                    {{item.MasterDataName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;"
            *ngIf="SelectedClassCategory==getHighSchoolCategory()">
            <mat-label>section</mat-label>
            <mat-select formControlName="searchSectionId" (selectionChange)="ClearData()">
                <mat-option [value]="Defaultvalue">select</mat-option>
                <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">
                    {{item.MasterDataName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:200px;margin-right: 15px;">
            <mat-label>Subject</mat-label>
            <mat-select formControlName="searchClassSubjectId" (selectionChange)="ClearData()">
                <mat-option *ngFor="let item of SelectedClassSubjects" [value]="item.ClassSubjectId">
                    {{item.SubjectName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button [disabled]="loading" mat-raised-button color="accent" (click)="GetSubjectComponents()">
            <mat-icon>search</mat-icon>
            <mat-icon *ngIf="loading">
                <mat-spinner diameter="20" color="Blue"></mat-spinner>
            </mat-icon>
        </button>
    </form>
    <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-bottom:15px;margin-left: 50%;"></mat-spinner>
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">

            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="SubjectComponentId">
                    <mat-header-cell *matHeaderCellDef>Sr. No.
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.SubjectComponentId}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ComponentName">
                    <mat-header-cell *matHeaderCellDef>Component Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input matInput (blur)="onBlur(element)" [maxlength]="50" [value]="element.ComponentName"
                                [(ngModel)]="element.ComponentName">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ClassId">
                    <mat-header-cell *matHeaderCellDef>Class
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" [style.width.px]="150">
                            <mat-label>Class</mat-label>
                            <mat-select [(ngModel)]="element.ClassId" [value]="element.ClassId"
                                (selectionChange)="RowSelectClassSubject(element)">
                                <mat-option *ngFor="let item of Classes" [value]="item.ClassId">
                                    {{item.ClassName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SemesterId">
                    <mat-header-cell *matHeaderCellDef>Semester
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" [style.width.px]="150">
                            <mat-label>Semester</mat-label>
                            <mat-select [(ngModel)]="element.SemesterId" [value]="element.SemesterId">
                                <mat-option *ngFor="let item of Semesters" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SectionId">
                    <mat-header-cell *matHeaderCellDef>Section
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" [style.width.px]="150">
                            <mat-label>Section</mat-label>
                            <mat-select [(ngModel)]="element.SectionId" [value]="element.SectionId">
                                <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ClassSubjectId">
                    <mat-header-cell *matHeaderCellDef>Class Subject
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <mat-select (selectionChange)="onBlur(element)" [value]="element.ClassSubjectId"
                                [(ngModel)]="element.ClassSubjectId">
                                <mat-option *ngFor="let item of element.ClassSubjects" [value]="item.ClassSubjectId">
                                    {{item.SubjectName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Sequence">
                    <mat-header-cell *matHeaderCellDef>Sequence
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input matInput type="number" (blur)="onBlur(element)" [max]="5" [value]="element.Sequence"
                                [(ngModel)]="element.Sequence">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef>Active
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <button [disabled]="loading || Permission=='read' || Permission=='deny'" matTooltip="add new"
                            mat-mini-fab (click)="AddNew()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button style="margin-right:15px"
                            [disabled]="loading || !element.Action || Permission=='read' || Permission=='deny'"
                            matTooltip="save" mat-raised-button color="accent" (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                            <mat-icon *ngIf="loading">
                                <mat-spinner diameter="20" color="Blue"></mat-spinner>
                            </mat-icon>
                        </button>
                        <button [disabled]="loading 
                                || !element.Action 
                                || Permission !='rwd'" matTooltip="delete" mat-mini-fab (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row style="width: 100%;" *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
        </div>
    </div>
</div>