<div style="padding:15px 15px 10px 15px;">
    <div><strong>Student Activity</strong></div>
</div>
<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
<div style="width: 100%;">
    <form [formGroup]="searchForm">
        <div>
            <mat-form-field appearance="outline" style="width: 150px;margin-right: 15px;">
                <mat-label>Class</mat-label>
                <mat-select formControlName="searchClassId" (selectionChange)="GetStudents()">
                    <mat-option value="0">select</mat-option>
                    <mat-option *ngFor="let item of Classes" [value]="item.ClassId">
                        {{item.ClassName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" *ngIf="SelectedClassCategory==getCollegeCategory()" [style.width.px]="200">
                <mat-label>semester</mat-label>
                <mat-select formControlName="searchSemesterId" (selectionChange)="ClearData()">
                    <mat-option [value]="Defaultvalue">select</mat-option>
                    <mat-option *ngFor="let item of Semesters" [value]="item.MasterDataId">
                        {{item.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="SelectedClassCategory==getHighSchoolCategory()" [style.width.px]="200">
                <mat-label>section</mat-label>
                <mat-select formControlName="searchSectionId" (selectionChange)="ClearData()">
                    <mat-option [value]="Defaultvalue">select</mat-option>
                    <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">
                        {{item.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>  -->
            <mat-form-field appearance="outline" style="width:300px;margin-right: 15px;">
                <mat-label>Student</mat-label>
                <input type="text" matInput formControlName="searchStudentName"
                    [matAutocomplete]="auto">
                <mat-autocomplete (optionSelected)="SetStudentClassId()" #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredStudents | async" [value]="option">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-label>Activity</mat-label>
                <mat-select formControlName="searchActivityId" (selectionChange)="SetCategory()">
                    <mat-option value="0">select</mat-option>
                    <mat-option *ngFor="let item of ActivityNames" [value]="item.MasterDataId">
                        {{item.MasterDataName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="searchCategoryId">
                    <mat-option *ngFor="let item of ActivityCategory" [value]="item.MasterDataId">
                        {{item.MasterDataName}}</mat-option>
                </mat-select>
            </mat-form-field> -->
            <!-- <mat-form-field appearance="outline">
                <mat-label>Session</mat-label>
                <mat-select formControlName="searchSessionId">
                    <mat-option value="0">select</mat-option>
                    <mat-option *ngFor="let item of ActivitySessions" [value]="item.MasterDataId">
                        {{item.MasterDataName}}</mat-option>
                </mat-select>
            </mat-form-field> -->
            <button [disabled]="loading" style="margin-right:15px" 
            matTooltip="search"
            mat-raised-button color="accent"
                (click)="GetSportsResult()">
                <mat-icon>search</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
            <button [disabled]="loading || Permission=='read' || StudentClassId==0" matTooltip="add new" mat-mini-fab
                (click)="AddNew()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <!-- <div style="width:100%;display: flex; justify-content: center;">
            <button [disabled]="loading" style="margin-right:15px" 
            matTooltip="search"
            mat-raised-button color="accent"
                (click)="GetSportsResult()">
                <mat-icon>search</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
            <button [disabled]="loading || Permission=='read' || StudentClassId==0" matTooltip="add new" mat-mini-fab
                (click)="AddNew()">
                <mat-icon>add</mat-icon>
            </button>
        </div> -->
    </form>
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="SportResultId">
            <mat-header-cell *matHeaderCellDef>
                Id
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.SportResultId}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Student">
            <mat-header-cell *matHeaderCellDef>
                Student
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.Student}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="RankId">
            <mat-header-cell *matHeaderCellDef>Achievement
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="element.RankId" (selectionChange)="onBlur(element)"
                    [value]="element.RankId">
                    <mat-option *ngFor="let item of AchievementAndPoints" [value]="item.AchievementAndPointId">
                        {{item.Rank}}</mat-option>
                </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Achievement">
            <mat-header-cell *matHeaderCellDef>Description
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <textarea matInput [maxlength]="800" (blur)="onBlur(element)"
                        [value]="element.Achievement" [(ngModel)]="element.Achievement">
                        </textarea>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SportsNameId">
            <mat-header-cell *matHeaderCellDef>Activity
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="element.SportsNameId" (selectionChange)="SelectCategory(element)"
                        [value]="element.SportsNameId">
                        <mat-option *ngFor="let item of ActivityNames" [value]="item.MasterDataId">
                            {{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="CategoryId">
            <mat-header-cell *matHeaderCellDef>Category
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="element.CategoryId" (selectionChange)="SelectSubCategory(element,$event)"
                        [value]="element.CategoryId">
                        <mat-option *ngFor="let item of element.FilteredCategory" [value]="item.MasterDataId">
                            {{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SubCategoryId">
            <mat-header-cell *matHeaderCellDef>Sub Category
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="element.SubCategoryId" (selectionChange)="onBlur(element)"
                        [value]="element.SubCategoryId">
                        <mat-option *ngFor="let item of element.SubCategories" [value]="item.MasterDataId">
                            {{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SessionId">
            <mat-header-cell *matHeaderCellDef>Session
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="element.SessionId" (selectionChange)="onBlur(element)"
                        [value]="element.SessionId">
                        <mat-option *ngFor="let item of ActivitySessions" [value]="item.MasterDataId">
                            {{item.MasterDataName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="AchievementDate">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input [value]="element.AchievementDate" [(ngModel)]="element.AchievementDate" matInput
                        [matDatepicker]="AchievementDate" (dateChange)="onBlur(element)" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="AchievementDate"></mat-datepicker-toggle>
                    <mat-datepicker #AchievementDate></mat-datepicker>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef style="justify-content: center;">Active
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateActive(element,$event)"
                    [checked]="element.Active==1?true:false">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>

            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                <button style="margin-right: 15px;" [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save"
                    mat-mini-fab color="accent" (click)="UpdateOrSave(element)">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <button [disabled]="loading || !element.Action || Permission!='rwd'" matTooltip="save"
                mat-mini-fab color="accent" (click)="delete(element)">
                    <mat-icon>delete</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;let indx=index" class="element-row"
            style="align-items: center;"></mat-row>
    </mat-table>
    <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[5,10,20,50]"></mat-paginator>
</div>