.fc-event-title{
    width: 150px;
    height:150px;
    overflow-wrap: break-word;
}
.portlet.calendar .fc-event .fc-time {
    color: gray;
}

.portlet.calendar .fc-event .fc-title {
    color: gray;
}
mwl-calendar-month-cell {
    min-height: 50px !important; 
}
.mat-column-EventName{
    flex:1 0 200px;
}
