mat-form-field{
    margin-right: 15px;
}
.mat-column-CustomFeatureRolePermissionId{
    flex:1 1 60px;
}
.mat-column-FeatureName,.mat-column-PermissionId{
   flex:1 1 150px;
}
.mat-column-Active,.mat-column-Action{
    flex:1 1 100px;
}