<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Plan</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="PlanId">
                    <mat-header-cell *matHeaderCellDef>Id
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.PlanId}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Title
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input matInput (blur)="onBlur(element)" autocomplete="Off" [maxlength]="250"
                                [value]="element.Title" [maxlength]="50" [(ngModel)]="element.Title">

                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <textarea matInput (blur)="onBlur(element)" autocomplete="Off" [maxlength]="1000"
                                [value]="element.Description" [(ngModel)]="element.Description"></textarea>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Sequence">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sequence
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input matInput (blur)="onBlur(element)" autocomplete="Off" [maxlength]="5"
                                [value]="element.Sequence" [(ngModel)]="element.Sequence">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Logic">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Logic
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input matInput (blur)="onBlur(element)" autocomplete="Off" [maxlength]="255"
                                [value]="element.Logic" [(ngModel)]="element.Logic">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="PCPM">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PCPM
                    </mat-header-cell>
                    <mat-cell style="display: flex;" *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input matInput (blur)="onBlur(element)" autocomplete="Off" [maxlength]="5"
                                [value]="element.PCPM" [(ngModel)]="element.PCPM">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="MinCount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Min Count
                    </mat-header-cell>
                    <mat-cell style="display: flex;" *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input matInput (blur)="onBlur(element)" autocomplete="Off" [maxlength]="5"
                                [value]="element.MinCount" [(ngModel)]="element.MinCount">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="MinPrice">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Min Price
                    </mat-header-cell>
                    <mat-cell style="display: flex;" *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input matInput (blur)="onBlur(element)" autocomplete="Off" [maxlength]="5"
                                [value]="element.MinPrice" [(ngModel)]="element.MinPrice">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell style="justify-content: center;" *matHeaderCellDef>Active
                    </mat-header-cell>
                    <mat-cell style="justify-content: center;" *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <button [disabled]="loading || Permission=='read'" matTooltip="add new" mat-mini-fab (click)="AddNew()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading || !element.Action" matTooltip="save" 
mat-raised-button color="accent"
                            (click)="UpdateOrSave(element)">
                             <mat-icon>save</mat-icon>
                            <mat-icon *ngIf="loading">
                                <mat-spinner diameter="20" color="Blue"></mat-spinner>
                            </mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row style="width: 100%;" *matRowDef="let row; columns: displayedColumns;" class="element-row">
                </mat-row>
            </mat-table>
            <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[10,20,50]"></mat-paginator>
        </div>

    </div>
</div>