<div style="margin:15px 15px 15px 0px"><b>Income Statement</b></div>

<mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>

<form [formGroup]="searchForm">
    <mat-form-field appearance="outline" [style.width.px]="150">
        <mat-label>From</mat-label>
        <input formControlName="searchFromDate" [min]="MinDate" matInput [matDatepicker]="FromDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
        <mat-datepicker #FromDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.width.px]="150">
        <mat-label>To</mat-label>
        <input formControlName="searchToDate" matInput [matDatepicker]="ToDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
        <mat-datepicker #ToDate></mat-datepicker>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" [style.width.px]="350" style="margin-right:15px;">
        <mat-label>Account</mat-label>
        <input type="text" matInput formControlName="searchGeneralLedgerId" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.GeneralLedgerName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->
    <button [disabled]="loading" mat-raised-button color="accent" (click)="GetAccountingVoucher()">
        <mat-icon>search</mat-icon>
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20" color="Blue"></mat-spinner>
        </mat-icon>
    </button>
</form>
<div style="display:flex;width:100%;flex-direction: column;">
    <!-- <div style="margin-bottom: 15px;display: flex;flex-direction: column;">
        <div style="font-weight: bold;">Trial Balance</div>
        <mat-table [dataSource]="TrialBalanceDatasource" matSort>
            <ng-container matColumnDef="AccountName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Account
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.AccountName}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef><b>Total</b>
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="DrBalance">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Dr.
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.DrBalance}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    {{TotalDr}}
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="CrBalance">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Cr.
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.CrBalance}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    {{TotalCr}}
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row style="min-height: 35px;" *matRowDef="let row; columns: displayedColumns;"
                class="element-row"></mat-row>
            <mat-footer-row style="min-height: 35px;" class="sticky-footer" *matFooterRowDef="displayedColumns">
            </mat-footer-row>
        </mat-table>
    </div> -->
    <div style="display:flex;width:100%">
        <div style="display:flex;flex-direction: column;width:100%;">
            <!-- <div style="margin:15px;font-weight: bold;">Income</div> -->
            <mat-table [dataSource]="RevenueDataSource" matSort>
                <ng-container matColumnDef="AccountName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Account
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.AccountName}}
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                       <b>Total</b>
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="Balance">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Amount
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.Balance}}
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        {{TotalIncome}}
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="Income">
                    <mat-header-cell *matHeaderCellDef [attr.colspan]="2" style="display:flex;justify-content: flex-start;font-weight: bold;">Income
                    </mat-header-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="['Income']"></mat-header-row>
                <mat-header-row *matHeaderRowDef="IncomeStatementColumns"></mat-header-row>
                <mat-row style="min-height: 35px;" *matRowDef="let row; columns: IncomeStatementColumns;" class="element-row"></mat-row>
                <mat-footer-row style="min-height: 35px;" class="sticky-footer" *matFooterRowDef="IncomeStatementColumns">
                </mat-footer-row>
            </mat-table>
        </div>
        <div style="display:flex;flex-direction: column;width:100%;">
            <!-- <div style="margin:15px;font-weight: bold;">Expense</div> -->
            <mat-table [dataSource]="ExpenseDataSource" matSort>
                <ng-container matColumnDef="AccountName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Account
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.AccountName}}
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        <b>Total</b>
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="Balance">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Amount
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.Balance}}
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        {{TotalExpense}}
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="Expense">
                    <mat-header-cell *matHeaderCellDef [attr.colspan]="2" style="display:flex;justify-content: flex-start;font-weight: bold;">Expense
                    </mat-header-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="['Expense']"></mat-header-row>
                <mat-header-row *matHeaderRowDef="IncomeStatementColumns"></mat-header-row>
                <mat-row style="min-height: 35px;" *matRowDef="let row; columns: IncomeStatementColumns;" class="element-row"></mat-row>
                <mat-footer-row style="min-height: 35px;" class="sticky-footer" *matFooterRowDef="IncomeStatementColumns">
                </mat-footer-row>
            </mat-table>
        </div>
    </div>
    <div style="display:flex;margin: 15px;">
        <div style="font-weight: bold;margin-right: 15px;">Net Income:</div>
        <div>{{NetIncome}}</div>
    </div>
</div>

<!-- <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[5,10,20,50]"></mat-paginator> -->