<!-- <div> -->
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Subject Types</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-bottom:15px;margin-left: 50%;"></mat-spinner>
    
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="SubjectTypeId">
            <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Id
            </mat-header-cell>
            <mat-cell style="display: flex;justify-content: center;" *matCellDef="let element">
               {{element.SubjectTypeId}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SubjectTypeName">
            <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Subject Type Name
            </mat-header-cell>
            <mat-cell style="display: flex;justify-content: center;" *matCellDef="let element">
                <mat-form-field>
                    <input [disabled]="PredefinedSubjectTypes.includes(element.SubjectTypeName)" matInput (blur)="onBlur(element)" [value]="element.SubjectTypeName"
                        [(ngModel)]="element.SubjectTypeName">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SelectHowMany">
            <mat-header-cell *matHeaderCellDef> No. Of Subject to Select </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field>
                    <input matInput (blur)="onBlur(element)" [value]="element.SelectHowMany"
                        [(ngModel)]="element.SelectHowMany">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                    [checked]="element.Active==1?true:false">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>
                <button [disabled]="loading || Permission=='read'" matTooltip="add new" mat-mini-fab
                    (click)="addnew()">
                    <mat-icon>add</mat-icon>
                </button>&nbsp;
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button [disabled]="loading 
                        || !element.Action 
                        || Permission=='read'" matTooltip="save"
                    mat-raised-button color="accent" (click)="UpdateOrSave(element)">
                     <mat-icon>save</mat-icon>
                            <mat-icon *ngIf="loading">
                                <mat-spinner diameter="20" color="Blue"></mat-spinner>
                            </mat-icon>
                </button>
                <button [disabled]="loading || !element.Action || Permission!='rwd'" matTooltip="delete"
                    mat-mini-fab (click)="openDialog(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
    </mat-table>
    <div style="margin-top:30px;" data-expand="false" #expandWrap>
        <span *ngIf="expandWrap.dataset.expand == 'false'" (click)="expandWrap.dataset.expand = 'true'">
            <mat-icon>info</mat-icon>
            Guides..
        </span>
        <span *ngIf="expandWrap.dataset.expand == 'true'" (click)="expandWrap.dataset.expand = 'false'">
            <!-- <b>Settings required before student can be added.</b> -->
            <ol>
                <li>
                    For "Compulsory", number of subjects to select should be 1.                    
                </li>
                <li>
                    If <b>No. Of Subject to Select</b> =0, the subjects which are assigned to this subject type will not be available to select in student subject.
                </li>    
            </ol>
        </span>
    </div>
<!-- </div> -->