:host {
  width: 100vw;

}

mat-card {
  background-color: var(--maincolor1);
  margin-top      : 15px;
  // padding:20px;
  //top:35px;
}

.carousel-caption {
  color: black;
}

mat-card-subtitle {
  display        : flex;
  justify-content: center;
}

.photosize {
  border-collapse: collapse;
  border         : 2px medium #19283f;
  width          : 100%;
  height         : 435px;
  object-fit     : contain;

}

// img:{   
//   border-radius: 3px;
//   transition: all .3s linear;
//   cursor:pointer;
//   transform: scale(1.5);

// }