<mat-card>
    <mat-card-title style="margin: 30px;">Forgot Password</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <mat-spinner *ngIf="loading" diameter="25" style="margin:15px;position:relative;margin-left: 50%;"></mat-spinner>
        <form *ngIf="!isSuccessful" style="margin:30px;display: flex;flex-direction: column;" 
        [formGroup]="forgotpwdForm" novalidate>
                <mat-form-field>
                    <mat-label>Registered email</mat-label>
                    <input matInput formControlName="email" autocomplete="Off"
                        required />                    
                </mat-form-field>     
                To reset password, a link will be sent to your registered email address.           
                <div style="margin: 30px 30px 30px 0px;">
                    <button [disabled]="loading" 
                    mat-raised-button color="accent"
                    (click)="onSubmit()"
                    matTooltip="submit">
                        <mat-icon>change_circle</mat-icon>
                    </button>
                    <button [disabled]="loading" (click)="gotohome()" mat-raised-button matTooltip="cancel">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
                <div class="alert alert-warning" *ngIf="errorMessage.length>0">
                    {{ errorMessage }}
                </div>
            </form>
            <div class="alert alert-success bodyMargin" *ngIf="isSuccessful" style="flex-direction: column;">
                <p>If email is registered with us, we are sending a link to you registered email address!</p>
                <a matTooltip="login" style="margin: 15px;" [routerLink]="[ '/auth/login']">
                    <mat-icon>login</mat-icon>
                </a>
            </div>
        <!-- </div> -->
    </mat-card-content>
</mat-card>