:host {
    display         : flex;
    justify-content : center;
    min-height      : 91vh;
    background-color: white;
}

button {
    margin-right: 25px;
}

.column {
    margin-right: 15px;
}

@media only screen and (max-width: 768px) {
    .bodyMargin {
        margin: 0px
    }
    .mat-card {
        position    : relative;
        height      : max-content;
        //margin-top:100px; 
        margin      : 0px;
        width       : 100%;
    }
}

@media only screen and (min-width: 769px) {
    .bodyMargin {
        margin: 30px
    }

    .mat-card {
        position    : relative;
        height      : max-content;
        //margin-top:100px; 
        margin      : 60px;
        width       : 50%;
    }

}