<div style="overflow: hidden;">
    <div style="overflow: hidden;">
        <div style="padding:25px 15px 10px 15px;">
            <div><strong>Student History</strong></div>
        </div>
        <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-bottom:15px;margin-left: 50%;"></mat-spinner>
        <form style="display: flex;flex-direction:column;justify-content: space-around;" [formGroup]="searchForm">
            <div>
                <mat-form-field appearance="outline" style="width: 200px;margin-right: 15px;">
                    <mat-label>PID</mat-label>
                    <input id="searchPID" formControlName="searchPID" onfocus="this.select()" autocomplete="Off"
                        matInput [maxlength]="10">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 400px;margin-right: 15px;">
                    <mat-label>Student</mat-label>
                    <input type="text" matInput onfocus="this.select()" formControlName="searchStudentName">
                </mat-form-field>
                <button [disabled]="loading" style="margin-right: 10px;" mat-raised-button color="accent"
                    (click)="GetStudent()">
                    <mat-icon>search</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </div>
        </form>
        <mat-divider style="position:relative; margin-top:10px;margin-bottom: 15px;"></mat-divider>

        <!-- <div style="font-size: medium;padding: 15px 0px 15px 0px;font-weight: bold;color:darkgreen">{{ HeaderTitle }} -->
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="PID">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="display:flex ;">
                PID
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.PID}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="StudentName">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="display:flex ;">
                Student
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.StudentName}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="FatherName">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="display:flex ;">
                Father
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.FatherName}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="MotherName">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="display:flex ;">
                Mother
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.MotherName}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="AdmissionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="display:flex ;">
                Admission Date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.AdmissionDate|date : 'dd/MM/yyyy'}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="GenderName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.GenderName}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ClassName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.ClassName}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Section">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Section </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.Section}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Semester">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Semester </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.Semester}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="RollNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Roll No </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.RollNo}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Remark </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.Remarks}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Batch">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Batch </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.Batch}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="SelectALL($event)">
                </mat-checkbox> -->
                Active
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-checkbox [disabled]="true" (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                    [checked]="element.Active==1?true:false">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>
         
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                <button style="margin-right: 15px;" [disabled]="loading || !element.Action || Permission=='read'"
                    matTooltip="save" mat-mini-fab color="accent" (click)="SaveRow(element)">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
         
            </mat-cell>
        </ng-container> -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
    </mat-table>
    <mat-paginator style="display: flex;justify-content: center;margin-top: 15px;" [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
    <div *ngIf="StudentClassList.length>0">
        <button (click)="exportArray()" mat-raised-button color="accent">
            <mat-icon>download</mat-icon>
            <mat-icon *ngIf="loading">
                <mat-spinner diameter="25"></mat-spinner>
            </mat-icon>
        </button>
    </div>
</div>