// mat-form-field{
//     margin-right: 15px;
//     width:98%;
// }
mat-header-cell{
    border-right: 1px solid lightgray;
    padding: 5px;
}
mat-cell{
    border-right: 1px solid lightgray;
}
.mat-column-AdmissionNo{
   
    flex:1 1 100px;
}
.mat-column-GenderName{
    justify-content: center;
    flex:1 0 80px;
}
.mat-column-RollNo,
.mat-column-SectionId{
    flex:1 0 100px;
}
.mat-column-Active
{
   // justify-content: center;
    flex:1 0 100px;
}
.mat-column-SemesterId,.mat-column-CourseYearId{
    flex:1 0 120px;
}
.mat-column-ClassId,
.mat-column-Remark{
    //justify-content: center;
    flex:1 0 140px;
}

.mat-column-Action,.mat-column-ExamStatus, .mat-column-StudentName,.mat-column-FeeTypeId,.mat-column-Remarks{
    flex:1 0 150px;
}
mat-cell:first-of-type{
    padding-left: 0px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
    padding: 0px 15px 0px 0px;
  }