<div style="overflow: hidden;">
    <div style="padding:25px 15px 10px 15px;">
        <div><strong>Class Student</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25"
        style="position:relative;margin-bottom:15px;margin-left: 50%;"></mat-spinner>
    <form style="display: flex;flex-direction:column;justify-content: space-around;" [formGroup]="searchForm">
        <div>
            <!-- </div> style="margin-top: 10px;padding:23px 0px 0px 15px;border:1px solid lightgray"> -->
            <mat-form-field appearance="outline" style="width: 150px;margin-right: 15px;">
                <mat-label>Class</mat-label>
                <mat-select formControlName="searchClassId" (selectionChange)="SetLabel()">
                    <mat-option [value]="Defaultvalue">select</mat-option>
                    <mat-option *ngFor="let item of Classes" [value]="item.ClassId">
                        {{item.ClassName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 150px;margin-right: 15px;"
                *ngIf="CategoryName=='college'">
                <mat-label>Semester</mat-label>
                <mat-select formControlName="searchSemesterId">
                    <mat-option [value]="Defaultvalue">select</mat-option>
                    <mat-option *ngFor="let item of Semesters" [value]="item.MasterDataId">
                        {{item.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 150px;margin-right: 15px;"
                *ngIf="CategoryName=='high school'">
                <mat-label>Section</mat-label>
                <mat-select formControlName="searchSectionId">
                    <mat-option [value]="Defaultvalue">--section--</mat-option>
                    <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">
                        {{item.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 150px;margin-right: 15px;">
                <mat-label>Remarks</mat-label>
                <mat-select formControlName="searchRemarkId">
                    <mat-option [value]="Defaultvalue">select</mat-option>
                    <mat-option *ngFor="let item of Remarks" [value]="item.MasterDataId">
                        {{item.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:150px;margin-right: 15px;">
                <mat-label>Status from</mat-label>
                <mat-select formControlName="searchExamId">
                    <mat-option [value]="Defaultvalue">select</mat-option>
                    <mat-option *ngFor="let item of Exams" [value]="item.ExamId">
                        {{item.ExamName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button [disabled]="loading || PageLoading" style="margin-right: 10px;" mat-raised-button color="accent"
                (click)="GetData('')">
                <mat-icon>search</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
        </div>
        <mat-divider style="position:relative; margin-top:10px;margin-bottom: 15px;"></mat-divider>
    </form>
    <div style="font-size: medium;padding: 15px 0px 15px 0px;font-weight: bold;color:darkgreen">{{ HeaderTitle }}</div>
    <div style="overflow: auto;">
        <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="StudentName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span style="display: flex;flex-direction: column;justify-content: start;">
                        <span style="justify-content: center;display: flex;">Student</span>
                        <mat-form-field style="width: 150px;">
                            <mat-label>search name</mat-label>
                            <input matInput [formControl]="nameFilter" autocomplete="Off">
                        </mat-form-field>
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.StudentName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="GenderName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.GenderName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="AdmissionNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="display:flex ;">
                    <span style="display: flex;flex-direction: column;justify-content: flex-start;">
                        <span style="justify-content: flex-start;display: flex;">Admission No.</span>
                        <mat-form-field style="width: 80px;">
                            <mat-label>Admission No.</mat-label>
                            <input matInput [formControl]="IdFilter" autocomplete="Off">
                        </mat-form-field>
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input matInput (blur)="onBlur(element)" [value]="element.AdmissionNo"
                            [(ngModel)]="element.AdmissionNo" autocomplete="Off" [maxlength]="10">
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ClassId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <mat-select (selectionChange)="onBlur(element)" [value]="element.ClassId" [disabled]="true"
                            [(ngModel)]="element.ClassId">
                            <mat-option *ngFor="let item of Classes" [value]="item.ClassId">{{item.ClassName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="SemesterId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Semester </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <mat-select (selectionChange)="onBlur(element)" [value]="element.SemesterId"
                            [(ngModel)]="element.SemesterId">
                            <mat-option *ngFor="let item of Semesters"
                                [value]="item.MasterDataId">{{item.MasterDataName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="RollNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>RollNo
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input matInput (blur)="onBlur(element)" [value]="element.RollNo" [(ngModel)]="element.RollNo"
                            autocomplete="Off" [maxlength]="10">
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="SectionId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Section
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <mat-select (selectionChange)="onBlur(element)" [value]="element.SectionId"
                            [(ngModel)]="element.SectionId">
                            <mat-option *ngFor="let item of Sections"
                                [value]="item.MasterDataId">{{item.MasterDataName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Remark">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Remark </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.Remark}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Remarks">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Notes
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <textarea matTooltip="{{element.Remarks}}" matInput rows="1" (blur)="onBlur(element)"
                            [value]="element.Remarks" [(ngModel)]="element.Remarks" autocomplete="Off"
                            [maxlength]="250"></textarea>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ExamStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Exam Result
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.ExamStatus}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Active">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="SelectALL($event)">
                    </mat-checkbox>
                    &nbsp;Active
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                        [checked]="element.Active==1?true:false">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Admitted">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Admitted</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateFeePaymentStarted(element,$event)"
                        [checked]="element.Admitted">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                    <button style="margin-right: 15px;" [disabled]="loading || !element.Action || Permission=='read'"
                        matTooltip="save" mat-mini-fab color="accent" (click)="SaveRow(element)">
                        <mat-icon>save</mat-icon>
                        <mat-icon *ngIf="loading">
                            <mat-spinner diameter="20" color="Blue"></mat-spinner>
                        </mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" style="margin-top: 8px;"></mat-row>
        </mat-table>
    </div>
    <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
    <div *ngIf="StudentClassForDownload.length>0">
        <button (click)="exportArray()" mat-raised-button color="accent">
            <mat-icon>download</mat-icon>
            <mat-icon *ngIf="loading">
                <mat-spinner diameter="25"></mat-spinner>
            </mat-icon>
        </button>
    </div>
</div>