.divCls{
    padding:15px 15px 10px 15px;
    font-weight: bold;
}
mat-form-field
{
    width: 98%;
    margin-right: 15px;    
    
}
.mat-column-FileId{
    flex : none;
    width: 120px;
    display:grid;
    text-align: center;
    
}
//mat-table
