@media only screen and (min-width: 769px) {
    .box {
        margin: 60px;
        width: 65%;
    }

    .EduM {
        display: flex;
        //flex-direction: row;
    }
}

@media only screen and (max-width: 768px) {
    .box {
        margin: 10px;
        position: absolute;
        top: 50px;
    }

    .EduM {
        display: flex;
        flex-direction: column;
    }
}
.SubHeading{
    font-weight: bold;
    font-size: 20px;
}